<div id="passenger-flow-main">
    <ul class="passenger-flow-nav-bar clearfix">
        <li><a class="active" href="javascript:void(0)">客流</a></li>
    </ul>

    <div class="grey-bar"></div>


    <div class="scrollable">
        <div class="scrollable-content section" >
            <div class="passenger-flow-info">

                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="info-segment-list">
                                <div class="info-segment">
                                    <div class="label-group">
                                        <em>当月客流</em>
                                        <div>{{info.currentMonthCount|numberFormatDefault:"-":0}}</div>
                                    </div><!-- label-group -->
                                </div><!-- info-segment -->

                                <div class="info-segment">
                                    <ul class="label-item-list clearfix">
                                        <li>
                                            <em>同比</em>
                                            <div>
                                                <span>{{info.yearToYear}}</span><em>%</em>
                                                <em ng-if="info.yearToYear<0" class="amp-arrow-down"></em>
                                                <em ng-if="info.yearToYear>0" class="amp-arrow-up"></em>
                                            </div>
                                        </li>
                                        <li>
                                            <em>环比</em>
                                            <div>
                                                <span>{{info.linkRelative}}</span><em>%</em>
                                                <em ng-if="info.linkRelative<0" class="amp-arrow-down"></em>
                                                <em ng-if="info.linkRelative>0" class="amp-arrow-up"></em>
                                            </div>
                                        </li>
                                        <li>
                                            <em>达成率</em>
                                            <div><span>{{info.targetRate}}</span><em>%</em></div>
                                        </li>
                                        <li>
                                            <em>渗透率</em>
                                            <div><span>{{info.penetranceRate}}</span></div>
                                        </li>
                                    </ul>
                                </div><!-- info-segment -->

                                <div class="info-segment">
                                    <div class="chart-group clearfix">
                                        <div class="chart-item chart-item-1">
                                            <div class="chart-content"></div>
                                            <div class="chart-footer">
                                                <em>本月天数</em>
                                                <div>{{info.currentMonthDayTooltip}}</div>
                                            </div><!-- chart-footer -->
                                        </div><!-- chart-item -->

                                        <div class="chart-item chart-item-2">
                                            <div class="chart-content"></div>
                                            <div class="chart-footer">
                                                <em>本月指标</em>
                                                <div>{{info.currentMonthIndexTooltip|numberFormatDefault:"-":0}}</div>
                                            </div><!-- chart-footer -->
                                        </div><!-- chart-item -->

                                    </div><!-- chart-group -->

                                </div><!-- info-segment -->
                            </div><!-- info-segment-list -->
                        </div><!-- swiper-slide -->
                        <div class="swiper-slide">
                            <div class="info-segment-list">
                                <div class="info-segment">
                                    <div class="label-group">
                                        <em>全年累计(实际+预算)</em>
                                        <div>{{info.fullYearCount|numberFormatDefault:"-":0}}</div>
                                    </div><!-- label-group -->
                                </div><!-- info-segment -->

                                <div class="info-segment">
                                    <div class="label-group">
                                        <em>全年</em>
                                        <div>{{info.fullYearTotalCount|numberFormatDefault:"-":0}}</div>
                                    </div><!-- label-group -->
                                </div><!-- info-segment -->

                                <div class="info-segment">
                                    <div class="chart-group clearfix">
                                        <div class="chart-item chart-item-3">
                                            <div class="chart-content"></div>
                                            <div class="chart-footer">
                                                <em>本年天数</em>
                                                <div>{{info.currentYearDayTooltip}}</div>
                                            </div><!-- chart-footer -->
                                        </div><!-- chart-item -->

                                        <div class="chart-item chart-item-4">
                                            <div class="chart-content"></div>
                                            <div class="chart-footer">
                                                <em>本年指标</em>
                                                <div>{{info.currentYearIndexTooltip|numberFormatDefault:"-":0}}</div>
                                            </div><!-- chart-footer -->
                                        </div><!-- chart-item -->
                                    </div><!-- chart-group -->
                                </div><!-- info-segment -->
                            </div><!-- info-segment-list -->
                        </div>
                    </div><!-- swiper-wrapper -->
                    <div class="swiper-pagination"></div>
                </div><!-- swiper-container -->


            </div><!-- passenger-flow-info -->

            <div class="passenger-flow-bar-chart">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="chart-content"></div><!-- chart-content -->
                        </div><!-- swiper-slide -->
                    </div><!-- swiper-wrapper -->
                </div><!-- swiper-container -->


                <div class="chart-legend">
                    <ul class="clearfix">
                        <li>实际</li>
                        <li>预算</li>
                        <li>去年同期</li>
                    </ul>
                </div><!-- chart-legend -->
            </div><!-- passenger-flow-bar-chart -->

        </div><!-- scrollable-content -->
    </div><!-- scrollable -->

    <div ui-content-for="mgt-analysis-menu-list-wrapper">
        <ul class="menu-item-list">
            <li><a class="enrolment-btn">录入</a></li>
        </ul>
    </div>

</div><!-- contract-main -->

