<div id="passenger-flow-enrolment">
    <ul class="table-header clearfix">
        <li></li>
        <li>实际</li>
        <li>预算</li>
        <li>完成率</li>
    </ul>

    <div class="scrollable">
        <div class="scrollable-content section" >


            <div class="table-block">

                <table>
                    <colgroup>
                        <col width="18%"/>
                        <col width="32%"/>
                        <col width="32%"/>
                        <col width="18%"/>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>1月</td>
                            <td><input type="text"/></td>
                            <td><input type="text"/></td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>2月</td>
                            <td><input type="text"/></td>
                            <td><input type="text"/></td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>3月</td>
                            <td><input type="text"/></td>
                            <td><input type="text"/></td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>4月</td>
                            <td><input type="text"/></td>
                            <td><input type="text"/></td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>5月</td>
                            <td><input type="text"/></td>
                            <td><input type="text"/></td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>6月</td>
                            <td><input type="text"/></td>
                            <td><input type="text"/></td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>7月</td>
                            <td><input type="text"/></td>
                            <td><input type="text"/></td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>8月</td>
                            <td><input type="text"/></td>
                            <td><input type="text"/></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>9月</td>
                            <td><input type="text"/></td>
                            <td><input type="text"/></td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>10月</td>
                            <td><input type="text"/></td>
                            <td><input type="text"/></td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>11月</td>
                            <td><input type="text"/></td>
                            <td><input type="text"/></td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>12月</td>
                            <td><input type="text"/></td>
                            <td><input type="text"/></td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- table-block -->
        </div><!-- scrollable-content -->
    </div><!-- scrollable -->

</div><!-- simulation-calculation-list-header -->