<div id="arrears-merchant-detail">
    <ul class="table-header clearfix">
        <li>欠费类型</li>
        <li>金额</li>
        <li>欠费天数</li>
    </ul>

    <div class="scrollable">
        <div class="scrollable-content section" >
            <div class="table-block">
                <table>
                    <colgroup>
                        <col width="33.33333%"/>
                        <col width="33.33333%"/>
                        <col width="33.33333%"/>
                    </colgroup>
                    <tbody>
                        <tr ng-repeat="item in records" ng-class="{'checked':item.checked}" ng-click="toggleCheckRecord(item)">
                            <td>{{item.arrearsType}}</td>
                            <td>{{item.arrearsAmount|number}}</td>
                            <td>{{item.arrearsDayCount|number}}</td>
                        </tr>
                    </tbody>
                </table>

            </div><!-- table-block -->
        </div><!-- scrollable-content -->
    </div><!-- scrollable -->

    <a class="receive-btn" ui-toggle="uiSidebarRight">已收</a>

    <div ui-content-for="amp-right-panel">
        <div id="arrears-receive-panel">
            <div class="merchant-name">{{merchantName}}</div>
            <div class="store-no">铺位号 B1-101</div>
            <ul class="table-header clearfix">
                <li>欠费类型</li>
                <li>金额</li>
            </ul><!-- table-header -->

            <div class="scrollable">
                <div class="scrollable-content section" >
                    <div class="table-content">
                        <ul class="table-row"><li>租金</li><li>5,477.85</li></ul><!-- table-row -->
                        <ul class="table-row"><li>物管</li><li>1,983.15</li></ul><!-- table-row -->
                        <ul class="table-row"><li>合计</li><li>7,461.00</li></ul><!-- table-row -->
                    </div><!-- table-content -->
                </div><!-- scrollable-content -->
            </div><!-- scrollable -->

            <a class="receive-confirm-btn" ui-turn-off="uiSidebarRight">确认已收</a>

        </div><!-- arrears-receive-panel -->
    </div><!-- amp-right-panel -->

    <div ui-content-for="mgt-analysis-menu-list-wrapper">
        <ul class="menu-item-list">
            <li><a class="statistic-btn" ng-click="showMgtAnalysisPanel()">统计</a></li>
        </ul>
    </div>

    <div ui-content-for="mgt-analysis-statistics-panel-wrapper">
        <div class="contract-statistics-panel amp-display-none">
            <div class="panel-content">
                <div class="info-group clearfix">
                    <div class="info-item"><em>欠费总额</em><div>3,282,344</div></div>
                    <div class="info-item"><em>押金</em><div>20,000</div></div>
                </div><!-- info-group -->
                <div class="info-group clearfix">
                    <div class="info-item"><em>欠费笔数</em><div>3</div></div>
                    <div class="info-item"><em>累计欠费次数</em><div>4</div></div>
                </div><!-- info-group -->
            </div><!-- panel-content -->
        </div><!-- contract-statistics-panel -->
    </div>


</div><!-- simulation-calculation-list-header -->