<div id="arrears-detail-list">


    <div class="table-group-header">
        <div class="table-group-left">
            <table>
                <tbody>
                    <tr><th>商家</th></tr>
                </tbody>
            </table>
        </div><!-- table-group-left -->
        <div class="table-group-right">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide clearfix">
                        <table>
                            <tbody>
                                <tr>
                                    <th>欠费总额</th>
                                    <th>押金</th>
                                    <th>押金占比</th>
                                    <th>掉铺概率</th>
                                    <th>≤30天</th>
                                    <th>31-60天</th>
                                    <th>61-90天</th>
                                    <th>&gt;90天</th>
                                    <th>租金</th>
                                    <th>合同剩余（月）</th>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- swiper-slide -->
                </div><!-- swiper-wrapper -->
            </div><!-- swiper-container -->
        </div><!-- table-group-right -->
    </div><!-- table-group-header -->

    <div class="scrollable">
        <div class="scrollable-content section" >

            <div class="table-group-content">
                <div class="table-group-left">
                    <table>
                        <tbody>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                        </tbody>
                    </table>
                </div><!-- table-group-left -->
                <div class="table-group-right">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide clearfix">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- swiper-slide -->
                        </div><!-- swiper-wrapper -->
                    </div><!-- swiper-container -->
                </div><!-- table-group-right -->
            </div><!-- table-group-content -->

        </div><!-- scrollable-content -->
    </div><!-- scrollable -->

    <a class="enrolment-btn">录入</a>

</div><!-- simulation-calculation-list-header -->