<div id="arrears-main">
    <ul class="page-navigation-bar clearfix">
        <li><a href="#/mgt_analysis/rent_main">租赁</a></li>
        <li><a href="#/mgt_analysis/merchant_sale_main">商户销售</a></li>
        <li><a class="active" href="javascript:void(0)">欠费</a></li>
    </ul>



    <div class="scrollable">
        <div class="scrollable-content section" >

            <div class="table-group">
                <div class="table-left">
                    <table>
                        <tr><th>项目</th></tr>
                        <tr><td>租金</td></tr>
                        <tr><td>物管费</td></tr>
                        <tr><td>其他</td></tr>
                        <tr><td>合计</td></tr>
                    </table>
                </div><!-- table-left -->
                <div class="table-right">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <table>
                        <thead>
                            <tr>
                                <th>总额(万元)</th>
                                <th>≤30天</th>
                                <th>31-60天</th>
                                <th>61-90天</th>
                                <th>&gt;90天</th>
                                <th>占80%押金的商家数</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                            </tr>
                            <tr>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                            </tr>
                            <tr>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                            </tr>
                            <tr>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                            </tr>
                        </tbody>
                    </table>

                            </div><!-- swiper-slide -->
                        </div><!-- swiper-wrapper -->
                    </div><!-- swiper-container -->
                </div><!-- table-right -->
            </div><!-- table-group -->


            <a class="arrears-detail-btn" href="#/arrears_detail_list">欠费明细</a>

        </div><!-- scrollable-content -->
    </div><!-- scrollable -->

    <div ui-content-for="amp-right-panel">
        <div class="arrears-main-query-panel">
            <div class="query-section date-selector-section">
                <div class="query-section-title">月份</div>
                <div class="query-section-content">
                    <div class="amp-date-input ">
                        <input type="text" readonly value="2016-06"/>
                    </div><!-- amp-date-input -->
                </div><!-- query-section-content -->
            </div><!--query-section -->

            <div class="query-section floor-section">
                <div class="query-section-title">楼层</div>
                <div class="query-section-content">
                    <ul class="clearfix">
                        <li><a class="active">全部</a></li>
                        <li><a>B2</a></li>
                        <li><a>B1</a></li>
                        <li><a>1F</a></li>
                        <li><a>2F</a></li>
                        <li><a>3F</a></li>
                    </ul>
                </div><!-- query-section-content -->
            </div><!-- query-section -->

            <div class="btn-group clearfix">
                <a class="reset-btn" href="javascript:void(0)">重置</a>
                <a class="query-btn" href="javascript:void(0)" ui-turn-off="uiSidebarRight">查询</a>
            </div>
        </div><!-- query-panel -->
    </div><!-- amp-right-panel -->

    <div ui-content-for="mgt-analysis-menu-list-wrapper">
        <ul class="menu-item-list">
            <li><a class="filter-btn"  ui-toggle="uiSidebarRight">筛选</a></li>
        </ul>
    </div>



</div><!-- contract-main -->

