<div id="arrears-main">
    <ul class="page-navigation-bar clearfix">
        <li><a href="#/mgt_analysis/rent_main">租赁</a></li>
        <li><a href="#/mgt_analysis/merchant_sale_main">商户销售</a></li>
        <li><a class="active" href="javascript:void(0)">欠费</a></li>
    </ul>



    <div class="scrollable">
        <div class="scrollable-content section" >

            <div class="table-group">
                <div class="table-left">
                    <table>
                        <tr><th>项目</th></tr>
                        <tr><td>租金</td></tr>
                        <tr><td>物管费</td></tr>
                        <tr><td>其他</td></tr>
                        <tr><td>合计</td></tr>
                    </table>
                </div><!-- table-left -->
                <div class="table-right">
                    <table>
                        <thead>
                            <tr>
                                <th>总额(万元)</th>
                                <th>≤30天</th>
                                <th>31-60天</th>
                                <th>61-90天</th>
                                <th>&gt;90天</th>
                                <th>占80%押金的商家数</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                            </tr>
                            <tr>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                            </tr>
                            <tr>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                            </tr>
                            <tr>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                                <td>258.47</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- table-right -->
            </div><!-- table-group -->


            <a class="arrears-detail-btn" href="#/arrears_detail_list">欠费明细</a>

        </div><!-- scrollable-content -->
    </div><!-- scrollable -->

</div><!-- contract-main -->

