<div id="merchant-sale-main">
    <ul class="page-navigation-bar clearfix">
        <li><a href="#/mgt_analysis/rent_main">租赁</a></li>
        <li><a class="active" href="javascript:void(0)">商户销售</a></li>
        <li><a href="#/mgt_analysis/arrears_main">欠费</a></li>
    </ul>

    <div class="grey-bar"></div>


    <div class="scrollable">
        <div class="scrollable-content section" >

            <div class="pie-group">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="amp-chart amp-chart-1">
                                <div class="amp-chart-content"></div>
                                <div class="amp-chart-foot">排名前10%的商家销售占比</div>
                            </div><!-- amp-chart -->
                        </div><!-- swiper-slide -->
                        <div class="swiper-slide">
                            <div class="amp-chart amp-chart-2">
                                <div class="amp-chart-content"></div>
                                <div class="amp-chart-foot">90%销售贡献的商家占比</div>
                            </div><!-- amp-chart -->
                        </div><!-- swiper-slide -->
                    </div><!-- swiper-wrapper -->
                    <div class="swiper-pagination"></div>
                </div><!-- swiper-container -->
            </div><!-- pie-group -->





            <ul class="btn-group clearfix">
                <li class="btn-group-item"><a ng-class="{'active':!fullYear}" ng-click="switchTable(false)">当月实际</a></li>
                <li class="btn-group-item"><a ng-class="{'active':fullYear}" ng-click="switchTable(true)">全年累计</a></li>
            </ul><!-- btn-group -->

            <div class="table-block">
                <table>
                    <colgroup>
                        <col width="28%"/>
                        <col width="28%"/>
                        <col width="21%"/>
                        <col width="23%"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th></th>
                        <th>销售额(万元)</th>
                        <th>平效</th>
                        <th>租售比</th>
                    </tr>
                    </thead>
                    <tbody>

                        <tr ng-click="collapseTable(item)" ng-class="{'record-group':item.hasCollapseBtn,'amp-display-none':item.hide,'record-group-sub':item.subRecord,'collapsed':item.collapsed}" data-group="{{item.dataGroup}}" ng-repeat="item in records">
                            <td ng-click="goToMerchantSaleTypeList(item)" data-type="{{item.commercialTypeName}}">{{item.commercialTypeName}}<a ng-if="item.hasCollapseBtn" class="collapse-btn"  data-group="{{item.dataGroup}}"></a></td>
                            <td>
                                <span ng-if="!fullYear">{{item.curSaleCount|numberFormatDefault:"-":0}}</span>
                                <span ng-if="fullYear">{{item.calSaleCount|numberFormatDefault:"-":0}}</span>
                            </td>
                            <td>
                                <span ng-if="!fullYear">{{item.curPerformance|numberFormatDefault:"-":0}}</span>
                                <span ng-if="fullYear">{{item.calPerformance|numberFormatDefault:"-":0}}</span>
                            </td>
                            <td>
                                <span ng-if="!fullYear">{{item.curRentSaleRate}}</span>
                                <span ng-if="fullYear">{{item.calRentSaleRate}}</span>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div><!-- table-block -->


        </div><!-- scrollable-content -->
    </div><!-- scrollable -->

</div><!-- contract-main -->

