<div id="merchant-sale-type-list">
    <div class="table-group-header">
        <div class="table-group-left">
            <table>
                <tbody>
                    <tr><th>商家</th></tr>
                </tbody>
            </table>
        </div><!-- table-group-left -->
        <div class="table-group-right">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide clearfix">
                        <table>
                            <tbody>
                                <tr>
                                    <th>销售额</th>
                                    <th>平效</th>
                                    <th>租售比</th>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- swiper-slide -->
                </div><!-- swiper-wrapper -->
            </div><!-- swiper-container -->
        </div><!-- table-group-right -->
    </div><!-- table-group-header -->

    <div class="scrollable">
        <div class="scrollable-content section" >

            <div class="table-group-content">
                <div class="table-group-left">
                    <table>
                        <tbody>
                            <tr ng-repeat="item in records"><td>{{item.brandName}}</td></tr>
                        </tbody>
                    </table>
                </div><!-- table-group-left -->
                <div class="table-group-right">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide clearfix">
                                <table>
                                    <tbody>
                                        <tr ng-repeat="item in records">
                                            <td>{{item.saleAmount|number}}</td>
                                            <td>{{item.performanceValue|number:0}}</td>
                                            <td>{{item.rentSaleRate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- swiper-slide -->
                        </div><!-- swiper-wrapper -->
                    </div><!-- swiper-container -->
                </div><!-- table-group-right -->
            </div><!-- table-group-content -->

        </div><!-- scrollable-content -->
    </div><!-- scrollable -->

    <a class="enrolment-btn">录入</a>

    <div ui-content-for="mgt-analysis-menu-list-wrapper">
        <ul class="menu-item-list">
            <li><a class="statistic-btn" ng-click="showMgtAnalysisPanel()">统计</a></li>
        </ul>
    </div>

    <div ui-content-for="mgt-analysis-statistics-panel-wrapper">
        <div class="contract-statistics-panel amp-display-none">
            <div class="panel-content">
                <div class="info-group clearfix">
                    <div class="info-item"><em>销售额</em><div>{{commercialTypeSummary.saleAmount|number:0}}</div></div>
                    <div class="info-item"><em>平效</em><div>{{commercialTypeSummary.performanceValue|number:0}}</div></div>
                </div><!-- info-group -->
                <div class="info-group clearfix">
                    <div class="info-item"><em>租售比</em><div>{{commercialTypeSummary.rentSaleRate}}</div></div>
                </div><!-- info-group -->
            </div><!-- panel-content -->
        </div><!-- contract-statistics-panel -->
    </div>

</div><!-- simulation-calculation-list-header -->