<div id="merchant-sale-type-list">
    <div class="table-group-header">
        <div class="table-group-left">
            <table>
                <tbody>
                    <tr><th>商家</th></tr>
                </tbody>
            </table>
        </div><!-- table-group-left -->
        <div class="table-group-right">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide clearfix">
                        <table>
                            <tbody>
                                <tr>
                                    <th>销售额</th>
                                    <th>平效</th>
                                    <th>租售比</th>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- swiper-slide -->
                </div><!-- swiper-wrapper -->
            </div><!-- swiper-container -->
        </div><!-- table-group-right -->
    </div><!-- table-group-header -->

    <div class="scrollable">
        <div class="scrollable-content section" >

            <div class="table-group-content">
                <div class="table-group-left">
                    <table>
                        <tbody>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                            <tr><td>DBar</td></tr>
                        </tbody>
                    </table>
                </div><!-- table-group-left -->
                <div class="table-group-right">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide clearfix">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>

                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>

                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>

                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>

                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- swiper-slide -->
                        </div><!-- swiper-wrapper -->
                    </div><!-- swiper-container -->
                </div><!-- table-group-right -->
            </div><!-- table-group-content -->

        </div><!-- scrollable-content -->
    </div><!-- scrollable -->

    <a class="enrolment-btn">录入</a>

    <div ui-content-for="mgt-analysis-menu-list-wrapper">
        <ul class="menu-item-list">
            <li><a class="statistic-btn">统计</a></li>
        </ul>
    </div>

    <div ui-content-for="mgt-analysis-statistics-panel-wrapper">
        <div class="contract-statistics-panel amp-display-none">
            <div class="panel-content">
                <div class="info-group clearfix">
                    <div class="info-item"><em>销售额</em><div>2,656</div></div>
                    <div class="info-item"><em>平效</em><div>1202.12</div></div>
                </div><!-- info-group -->
                <div class="info-group clearfix">
                    <div class="info-item"><em>租售比</em><div>58.12%</div></div>
                </div><!-- info-group -->
            </div><!-- panel-content -->
        </div><!-- contract-statistics-panel -->
    </div>

</div><!-- simulation-calculation-list-header -->