<div id="rent-main">
    <ul class="page-navigation-bar clearfix">
        <li><a class="active" href="javascript:void(0)">租赁</a></li>
        <li><a href="#/mgt_analysis/merchant_sale_main">商户销售</a></li>
        <li><a href="#/mgt_analysis/arrears_main">欠费</a></li>
    </ul>

    <div class="grey-bar"></div>


    <div class="scrollable">
        <div class="scrollable-content section" >

            <div class="pie-group">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="amp-chart amp-chart-1">
                                <div class="amp-chart-content"></div>
                                <div class="amp-chart-foot">各业态租金收入占比</div>

                                <div class="amp-chart-legend">
                                    <ul class="clearfix">
                                        <li ng-repeat="item in saleRatePie"><em>{{item.name}}</em><div><span>{{item.value}}</span><em>%</em></div></li>
                                    </ul>
                                </div>
                            </div><!-- amp-chart -->




                        </div><!-- swiper-slide -->
                        <div class="swiper-slide">
                            <div class="amp-chart amp-chart-2">
                                <div class="amp-chart-content"></div>
                                <div class="amp-chart-foot">各业态面积占比</div>
                                <div class="amp-chart-legend">
                                    <ul class="clearfix">
                                        <li ng-repeat="item in squareRatePie"><em>{{item.name}}</em><div><span>{{item.value}}</span><em>%</em></div></li>
                                    </ul>
                                </div>
                            </div><!-- amp-chart -->
                        </div><!-- swiper-slide -->
                    </div><!-- swiper-wrapper -->
                    <div class="swiper-pagination"></div>
                </div><!-- swiper-container -->
            </div><!-- pie-group -->


            <div class="table-group table-group-multiple commercial-table-group">
                <div class="table-left">
                    <table>
                        <tbody>
                            <tr><th>项目</th></tr>
                            <tr ng-click="collapseTable(item)" ng-class="{'record-group':item.hasCollapseBtn,'amp-display-none':item.hide,'collapsed':item.collapsed}" data-group="{{item.dataGroup}}"  ng-repeat="item in collapseTableList">
                                <td data-type="{{item.commercialType}}">{{item.projectName}}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- table-left -->
                <div class="table-right">

                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>总出租面积(㎡)</th>
                                        <th>已出租面积(㎡)</th>
                                        <th>出租率(%)</th>
                                        <th>租约数</th>
                                        <th>租金单价(元/㎡/月)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-click="collapseTable(item)" ng-class="{'record-group':item.hasCollapseBtn,'amp-display-none':item.hide,'collapsed':item.collapsed}" data-group="{{item.dataGroup}}"  ng-repeat="item in collapseTableList">
                                            <td>{{item.totalRentSquare|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.rentSquare|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.rentRate}}</td>
                                            <td>{{item.rentCount|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.rentPriceAvg|numberFormatDefault:"-":0}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- swiper-slide -->
                        </div><!-- swiper-wrapper -->
                    </div><!-- swiper-container -->


                </div><!-- table-right -->
            </div><!-- table-group -->

            <div class="grey-bar"></div>

            <div class="section-title">租约到期</div>

            <div class="amp-bar-chart ">
                <div class="amp-chart-content-wrapper">
                    <div class="swiper-container">
                        <div class="swiper-wrapper ">
                            <div class="swiper-slide">
                                <div class="amp-chart-content"></div>
                            </div><!-- swiper-slide -->
                        </div><!-- swiper-wrapper -->
                    </div><!-- swiper-container -->
                </div><!-- amp-chart-content-wrapper -->

                <div class="amp-chart-legend">
                    <ul class="clearfix">
                        <li>租金(万元)</li>
                        <li>面积(㎡)</li>
                    </ul>
                </div>
            </div><!-- amp-bar-chart -->

            <div class="table-group rent-table-group">
                <div class="table-left">
                    <table>
                        <tbody>
                            <tr><th>时间</th></tr>
                            <tr ng-repeat="item in rentList"><td>{{item.dateItem}}</td></tr>
                        </tbody>
                    </table>
                </div><!-- table-left -->
                <div class="table-right">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>租金(万元)</th>
                                        <th>租金占比(%)</th>
                                        <th>平均租金(元/㎡/月)</th>
                                        <th>面积(㎡)</th>
                                        <th>面积占比(%)</th>
                                        <th>租约数</th>
                                        <th>租约数占比</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in rentList">
                                            <td>{{item.rentIncome|numberFormatDefault}}</td>
                                            <td>{{item.rentIncomeRate}}</td>
                                            <td>{{item.rentIncomeAvg|numberFormatDefault}}</td>
                                            <td>{{item.square|numberFormatDefault}}</td>
                                            <td>{{item.squareRate}}</td>
                                            <td>{{item.rentCount}}</td>
                                            <td>{{item.rentCountRate}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div><!-- swiper-slide -->
                        </div><!-- swiper-wrapper -->
                    </div><!-- swiper-container -->


                </div><!-- table-right -->
            </div><!-- table-group -->

            <div class="grey-bar"></div>

            <div class="section-title">招商</div>

            <div class="investment-line-chart">
                <div class="amp-chart-content"></div>
                <div class="amp-chart-legend">平均线</div>
            </div><!-- amp-line-chart -->


            <div class="grey-bar"></div>

            <div class="section-title">租金包达成情况</div>

            <div class="table-group investment-table-group">
                <div class="table-left">
                    <table>
                        <tbody>
                            <tr><th></th></tr>
                                <tr ng-repeat="item in investmentList">
                                    <td>{{item.itemLabel}}</td>
                                </tr>
                        </tbody>
                    </table>
                </div><!-- table-left -->
                <div class="table-right">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>预算(㎡)</th>
                                            <th>实际(㎡)</th>
                                            <th>完成率(%)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in investmentList">
                                            <td>{{item.budget|number}}</td>
                                            <td>{{item.real|number}}</td>
                                            <td>{{item.finishRate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- swiper-slide -->
                        </div><!-- swiper-wrapper -->
                    </div><!-- swiper-container -->

                </div><!-- table-right -->
            </div><!-- table-group -->

        </div><!-- scrollable-content -->
    </div><!-- scrollable -->


    <div ui-content-for="amp-right-panel">
        <div class="rent-query-panel">
            <div class="query-section date-selector-section">
                <div class="query-section-title">月份</div>
                <div class="query-section-content">
                    <div class="amp-date-input ">
                        <input type="text" readonly value="2016-12"/>
                    </div><!-- amp-date-input -->
                </div><!-- query-section-content -->
            </div><!--query-section -->

            <div class="btn-group clearfix">
                <a class="reset-btn" href="javascript:void(0)">重置</a>
                <a class="query-btn" href="javascript:void(0)" ui-turn-off="uiSidebarRight">查询</a>
            </div>
        </div><!-- query-panel -->
    </div><!-- amp-right-panel -->

    <div ui-content-for="mgt-analysis-menu-list-wrapper">
        <ul class="menu-item-list">
            <li><a class="statistic-btn" ng-click="showMgtAnalysisPanel()">统计</a></li>
            <li><a class="filter-btn"  ui-toggle="uiSidebarRight" ng-click="closeMenuList()">筛选</a></li>
        </ul>
    </div>

    <div ui-content-for="mgt-analysis-statistics-panel-wrapper">
        <div class="contract-statistics-panel amp-display-none">
            <div class="panel-content">
                <div class="info-group clearfix">
                    <div class="info-item"><em>已出租面积</em><div>200m²</div></div>
                    <div class="info-item"><em>未出租面积</em><div>100m²</div></div>
                </div><!-- info-group -->
                <div class="info-group clearfix">
                    <div class="info-item"><em>租约数</em><div>50</div></div>
                </div><!-- info-group -->
            </div><!-- panel-content -->
        </div><!-- contract-statistics-panel -->
    </div>


</div><!-- contract-main -->

