
<div id="simulation-calculation">

    <div class="scrollable">
        <div class="scrollable-content section" >
            <div class="section-title">
                <div>
                    <span>投资收益的测试指标</span>
                    <em>(自动生成)</em>
                    <a></a>
                </div>
            </div><!-- amp-case-title -->


            <div class="table-group test-index-container">
                <div class="table-group-left">
                    <table>
                        <tbody>
                            <tr><td></td></tr>
                            <tr ng-repeat="item in result.testIndexRecords">
                                <td>第{{item.yearIndex}}年</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- table-group-left -->
                <div class="table-group-right">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide clearfix ">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>增值</td>
                                            <td>净现值</td>
                                            <td>IRR</td>
                                            <td>税前现金流/权益</td>
                                        </tr>
                                        <tr ng-repeat="item in result.testIndexRecords">
                                            <td>{{item.appreciation|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.netPresentValue|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.irrPercent}}</td>
                                            <td>{{item.rate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- swiper-slide -->
                        </div><!-- swiper-wrapper -->
                    </div><!-- swiper-container -->
                </div><!-- table-group-right -->
            </div><!-- test-index-container -->

            <div class="grey-bar"></div>

            <div class="parameter-btn"><a>参数</a></div>

            <div class="grey-bar"></div>

            <div class="section-title amp-collapse" ng-class="{'amp-collapsed':sectionGroup.initialAnalysisCollapsed}">
                <div>
                    <span>期初分析</span>
                    <a ng-click="collapseSection('initialAnalysisCollapsed')"></a>
                </div>
            </div><!-- section-title -->

            <div class="initial-analysis" ng-class="{'amp-display-none':!sectionGroup.initialAnalysisCollapsed}">
                <div class="amp-form-group">
                    <label class="amp-form-label">收购价</label>
                    <div class="amp-form-content">
                        <input type="number" ng-model="result.initialAnalysis.purchasingPrice"/>
                    </div>
                </div><!-- amp-form-group -->

                <div class="amp-form-group">
                    <label class="amp-form-label">加:收购费用</label>
                    <div class="amp-form-content">
                        <input type="number" ng-model="result.initialAnalysis.purchasingFee"/>
                    </div>
                </div><!-- amp-form-group -->

                <div class="amp-form-group">
                    <label class="amp-form-label">加:贷款费用</label>
                    <div class="amp-form-content">
                        <input type="number" ng-model="result.initialAnalysis.loanFee"/>
                    </div>
                </div><!-- amp-form-group -->

                <div class="amp-form-group">
                    <label class="amp-form-label amp-font-weight-bold amp-font-style-italic">原始基数</label>
                    <div class="amp-form-content amp-text-align-right amp-font-color-grey" ng-bind="result.initialAnalysis.originBase">自动生成</div>
                </div><!-- amp-form-group -->

                <div class="amp-form-group">
                    <label class="amp-form-label" style="padding-left:30px;">减:贷款金额</label>
                    <div class="amp-form-content">
                        <input type="number" ng-model="result.initialAnalysis.loan"/>
                    </div>
                </div><!-- amp-form-group -->

                <div class="amp-form-group">
                    <div class="amp-form-content clearfix">
                        <div class="input-wrapper input-wrapper-1">
                            <span>贷款利率</span>
                            <input type="number" ng-model="result.initialAnalysis.loanRate"/>
                            <em>%</em>
                        </div>
                    </div>
                </div><!-- amp-form-group -->

                <div class="amp-form-group">
                    <div class="amp-form-content clearfix">
                        <div class="input-wrapper input-wrapper-2">
                            <span>期限</span>
                            <input type="number" ng-model="result.initialAnalysis.loanYear"/>
                            <em>年</em>
                        </div>
                    </div>
                </div><!-- amp-form-group -->

                <div class="amp-form-group">
                    <label class="amp-form-label  amp-font-weight-bold amp-font-style-italic" style="padding-left:30px;">初始权益</label>
                    <div class="amp-form-content amp-text-align-right amp-font-color-grey" ng-bind="result.initialAnalysis.initialBenefit">自动生成</div>
                </div><!-- amp-form-group -->

            </div><!-- initial-analysis -->

            <div class="grey-bar"></div>

            <div class="section-title income-expenses-simulation-btn" ng-click="goToIncomeExpenseSimulationPage()">
                <div>
                    <span>收支模拟</span>
                </div>
            </div><!-- section-title -->

            <div class="table-group income-expenses-simulation">
                <div class="table-group-left">
                    <table>
                        <tbody>
                            <tr><td><em>&nbsp;</em><div>NOI</div></td></tr>
                        </tbody>
                    </table>
                </div><!-- table-group-left -->
                <div class="table-group-right">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide clearfix ">
                                <table>
                                    <tbody>
                                        <tr>
                                            <!--<td><em>增值</em><div>13%</div></td>-->
                                            <td ng-repeat="item in result.incomeExpense.contents"><em>第{{$index+1}}年</em><div>{{item.noi|numberFormatDefault:"-":0}}</div></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- swiper-slide -->
                        </div><!-- swiper-wrapper -->
                    </div><!-- swiper-container -->
                </div><!-- table-group-right -->
            </div><!-- income-expenses-simulation -->

            <div class="grey-bar"></div>

            <div class="section-title amp-collapse" ng-class="{'amp-collapsed':sectionGroup.preTaxCashFlowCollapsed}">
                <div>
                    <span>税前现金流</span>
                    <a ng-click="collapseSection('preTaxCashFlowCollapsed')"></a>
                </div>
            </div><!-- section-title -->

            <div class="table-group pre-tax-cash-flow" ng-class="{'amp-display-none':!sectionGroup.preTaxCashFlowCollapsed}">
                <div class="table-group-left clearfix">
                    <ul ng-if="result.preTaxCashFlowRecords.length>0">
                        <li></li>
                        <li>净营业收入</li>
                        <li><span>减:</span>贷款本金</li>
                        <li><span>减:</span>贷款利息</li>
                        <li><span>减:</span>资本支出</li>
                        <li>税前现金流</li>
                    </ul>
                </div><!-- table-group-left -->
                <div class="table-group-right">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide clearfix ">
                                <ul ng-repeat="item in result.preTaxCashFlowRecords">
                                    <li>第{{item.year}}年</li>
                                    <li>{{item.income|numberFormatDefault:"-":0}}</li>
                                    <li>{{item.loanAmount|numberFormatDefault:"-":0}}</li>
                                    <li>{{item.loanInterest|numberFormatDefault:"-":0}}</li>
                                    <li>{{item.charges|numberFormatDefault:"-":0}}</li>
                                    <li>{{item.preTaxCashFlow|numberFormatDefault:"-":0}}</li>
                                </ul>
                            </div><!-- swiper-slide -->
                        </div><!-- swiper-wrapper -->
                    </div><!-- swiper-container -->
                </div><!-- table-group-right -->
            </div><!-- pre-tax-cash-flow -->

            <div class="grey-bar"></div>

            <div class="section-title amp-collapse" ng-class="{'amp-collapsed':sectionGroup.saleIncomeAnalysisCollapsed}">
                <div>
                    <span>销售所得分析</span>
                    <a ng-click="collapseSection('saleIncomeAnalysisCollapsed')"></a>
                </div>
            </div><!-- section-title -->

            <div class="table-group sale-income-analysis" ng-class="{'amp-display-none':!sectionGroup.saleIncomeAnalysisCollapsed}">
                <div class="table-group-left">
                    <ul ng-if="result.saleIncomeAnalysisRecords.length>0">
                        <li></li>
                        <li>销售价格</li>
                        <li><span>减:</span>销售成本</li>
                        <li><span>减:</span>贷款余额</li>
                        <li>净销售所得</li>
                    </ul>
                </div><!-- table-group-left -->
                <div class="table-group-right">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide clearfix ">
                                <ul ng-repeat="item in result.saleIncomeAnalysisRecords">
                                    <li>第{{item.year}}年</li>
                                    <li>{{item.salePrice|numberFormatDefault:"-":0}}</li>
                                    <li>{{item.saleCost|numberFormatDefault:"-":0}}</li>
                                    <li>{{item.loanBalance|numberFormatDefault:"-":0}}</li>
                                    <li>{{item.netSalesIncome|numberFormatDefault:"-":0}}</li>
                                </ul>
                            </div><!-- swiper-slide -->
                        </div><!-- swiper-wrapper -->
                    </div><!-- swiper-container -->
                </div><!-- table-group-right -->
            </div><!-- test-index-container -->

            <div class="grey-bar"></div>

            <div class="section-title amp-collapse" ng-class="{'amp-collapsed':sectionGroup.loanRepaymentAnalysisCollapsed}">
                <div>
                    <span>贷款分期还款</span>
                    <a ng-click="collapseSection('loanRepaymentAnalysisCollapsed')"></a>
                </div>
            </div><!-- section-title -->

            <div class="table-group loan-repayment-analysis" ng-class="{'amp-display-none':!sectionGroup.loanRepaymentAnalysisCollapsed}">
                <div class="table-group-left">
                    <table>
                        <tbody>
                            <tr><td></td></tr>
                            <tr ng-repeat="item in result.loanRepaymentAnalysis"><td>第{{item.year}}年</td></tr>
                        </tbody>
                    </table>
                </div><!-- table-group-left -->
                <div class="table-group-right">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide clearfix ">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>还款额</td>
                                            <td>本金</td>
                                            <td>利息</td>
                                            <td>剩余贷款本金</td>
                                        </tr>
                                        <tr ng-repeat="item in result.loanRepaymentAnalysis">
                                            <td>{{item.pmt|number:0}}</td>
                                            <td>{{item.ppmt|number:0}}</td>
                                            <td>{{item.ipmt|number:0}}</td>
                                            <td>{{item.leavePpmt|number:0}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- swiper-slide -->
                        </div><!-- swiper-wrapper -->
                    </div><!-- swiper-container -->
                </div><!-- table-group-right -->
            </div><!-- test-index-container -->


         </div><!-- scrollable-content -->
    </div><!-- scrollable -->


    <div ui-content-for="simulation-calculation-parameter-dialog-wrapper">
        <div id="simulation-calculation-parameter-dialog" class=" amp-display-none">
            <div class="simulation-calculation-parameter-dialog-content">
                <div class="dialog-title">
                    <span>参数</span>
                    <em>(手动输入)</em>
                </div>

                <div class="dialog-body">
                    <div class="amp-form-group">
                        <label class="amp-form-label">业主要求的收益率</label>
                        <div class="amp-form-content">
                            <input type="number" ng-model="result.parameterInfo.benefitRate"/>
                        </div>
                    </div><!-- amp-form-group -->

                    <div class="amp-form-group">
                        <label class="amp-form-label">销售成本</label>
                        <div class="amp-form-content sale-form-content clearfix">
                            <input type="number" class="sale-input"/>
                            <div class="sale-cost-input-wrapper">
                                <em>销售成本</em>
                                <input type="number"/>
                            </div>
                        </div>
                    </div><!-- amp-form-group -->

                    <div class="amp-form-group">
                        <label class="amp-form-label">输出资本化率</label>
                        <div class="output-rate-content-wrapper">
                            <div class="amp-form-content output-rate-content" ng-repeat="item in result.parameterInfo.outputCapitalizationRateList">
                                <em>第{{item.year}}年,比率</em>
                                <input type="number" ng-model="item.rate"/>
                            </div>
                        </div><!-- output-rate-content-wrapper -->
                    </div><!-- amp-form-group -->

                    <!--<div class="amp-form-group">-->
                        <!--<label class="amp-form-label"></label>-->
                        <!--<div class="amp-form-content output-rate-content">-->
                            <!--<em>第3年,比率</em>-->
                            <!--<input type="number"/>-->
                        <!--</div>-->
                    <!--</div><!-- amp-form-group -->-->

                </div><!-- dialog-body -->

                <a class="close-btn"></a>

                <a class="save-btn">保存</a>

            </div><!-- simulation-calculation-parameter-dialog-content -->
        </div><!-- simulation-calculation-parameter-dialog -->
    </div><!-- simulation-calculation-parameter-dialog -->

</div><!-- simulation-calculation-list -->