
<div id="simulation-calculation">

    <div class="scrollable">
        <div class="scrollable-content section" >
            <div class="section-title">
                <div>
                    <span>投资收益的测试指标</span>
                    <em>(自动生成)</em>
                    <a></a>
                </div>
            </div><!-- amp-case-title -->


            <div class="table-group test-index-container">
                <div class="table-group-left">
                    <table>
                        <tbody>
                            <tr><td></td></tr>
                            <tr><td>第2年</td></tr>
                            <tr><td>第3年</td></tr>
                        </tbody>
                    </table>
                </div><!-- table-group-left -->
                <div class="table-group-right">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide clearfix ">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>增值</td>
                                            <td>净现值</td>
                                            <td>IRR</td>
                                            <td>税前现金流/权益</td>
                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                            <td>8.85%</td>
                                        </tr>
                                        <tr>
                                            <td>12,443.57</td>
                                            <td>140,539.2</td>
                                            <td>8.85%</td>
                                            <td>8.85%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- swiper-slide -->
                        </div><!-- swiper-wrapper -->
                    </div><!-- swiper-container -->
                </div><!-- table-group-right -->
            </div><!-- test-index-container -->

            <div class="grey-bar"></div>

            <div class="parameter-btn"><a>参数</a></div>

            <div class="grey-bar"></div>

            <div class="section-title amp-collapse amp-collapsed">
                <div>
                    <span>期初分析</span>
                    <a></a>
                </div>
            </div><!-- section-title -->

            <div class="initial-analysis">
                <div class="amp-form-group">
                    <label class="amp-form-label">收购价</label>
                    <div class="amp-form-content">
                        <input type="number"/>
                    </div>
                </div><!-- amp-form-group -->

                <div class="amp-form-group">
                    <label class="amp-form-label">加:收购费用</label>
                    <div class="amp-form-content">
                        <input type="number"/>
                    </div>
                </div><!-- amp-form-group -->

                <div class="amp-form-group">
                    <label class="amp-form-label">加:贷款费用</label>
                    <div class="amp-form-content">
                        <input type="number"/>
                    </div>
                </div><!-- amp-form-group -->

                <div class="amp-form-group">
                    <label class="amp-form-label amp-font-weight-bold amp-font-style-italic">原始基数</label>
                    <div class="amp-form-content amp-text-align-right amp-font-color-grey">自动生成</div>
                </div><!-- amp-form-group -->

                <div class="amp-form-group">
                    <label class="amp-form-label" style="padding-left:30px;">减:贷款金额</label>
                    <div class="amp-form-content">
                        <input type="number"/>
                    </div>
                </div><!-- amp-form-group -->

                <div class="amp-form-group">
                    <div class="amp-form-content clearfix">
                        <div class="input-wrapper input-wrapper-1">
                            <span>贷款利率</span>
                            <input type="number"/>
                            <em>%</em>
                        </div>
                    </div>
                </div><!-- amp-form-group -->

                <div class="amp-form-group">
                    <div class="amp-form-content clearfix">
                        <div class="input-wrapper input-wrapper-2">
                            <span>期限</span>
                            <input type="number"/>
                            <em>年</em>
                        </div>
                    </div>
                </div><!-- amp-form-group -->

                <div class="amp-form-group">
                    <label class="amp-form-label  amp-font-weight-bold amp-font-style-italic" style="padding-left:30px;">初始权益</label>
                    <div class="amp-form-content amp-text-align-right amp-font-color-grey">自动生成</div>
                </div><!-- amp-form-group -->

            </div><!-- initial-analysis -->

            <div class="grey-bar"></div>

            <div class="section-title income-expenses-simulation-btn">
                <div>
                    <span>收支模拟</span>
                </div>
            </div><!-- section-title -->

            <div class="table-group income-expenses-simulation">
                <div class="table-group-left">
                    <table>
                        <tbody>
                            <tr><td><em>&nbsp;</em><div>NOI</div></td></tr>
                        </tbody>
                    </table>
                </div><!-- table-group-left -->
                <div class="table-group-right">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide clearfix ">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td><em>增值</em><div>13%</div></td>
                                            <td><em>第1年</em><div>188.64</div></td>
                                            <td><em>第2年</em><div>188.64</div></td>
                                            <td><em>第3年</em><div>188.64</div></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- swiper-slide -->
                        </div><!-- swiper-wrapper -->
                    </div><!-- swiper-container -->
                </div><!-- table-group-right -->
            </div><!-- income-expenses-simulation -->

            <div class="grey-bar"></div>

            <div class="section-title amp-collapse amp-collapsed">
                <div>
                    <span>税前现金流</span>
                    <a></a>
                </div>
            </div><!-- section-title -->

            <div class="table-group pre-tax-cash-flow">
                <div class="table-group-left">
                    <table>
                        <tbody>
                        <tr><td></td></tr>
                        <tr><td>销售价格</td></tr>
                        <tr><td><span>减:</span>销售成本</td></tr>
                        <tr><td><span>减:</span>贷款余额</td></tr>
                        <tr><td>净销售所得</td></tr>
                        </tbody>
                    </table>
                </div><!-- table-group-left -->
                <div class="table-group-right">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide clearfix ">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>第1年</td>
                                        <td>第2年</td>
                                        <td>第3年</td>
                                        <td>第4年</td>
                                    </tr>
                                    <tr>
                                        <td>自动生成</td>
                                        <td>自动生成</td>
                                        <td>自动生成</td>
                                        <td>自动生成</td>
                                    </tr>
                                    <tr>
                                        <td>自动生成</td>
                                        <td>自动生成</td>
                                        <td>自动生成</td>
                                        <td>自动生成</td>
                                    </tr>
                                    <tr>
                                        <td>自动生成</td>
                                        <td>自动生成</td>
                                        <td>自动生成</td>
                                        <td>自动生成</td>
                                    </tr>
                                    <tr>
                                        <td>自动生成</td>
                                        <td>自动生成</td>
                                        <td>自动生成</td>
                                        <td>自动生成</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div><!-- swiper-slide -->
                        </div><!-- swiper-wrapper -->
                    </div><!-- swiper-container -->
                </div><!-- table-group-right -->
            </div><!-- pre-tax-cash-flow -->

            <div class="grey-bar"></div>

            <div class="section-title amp-collapse amp-collapsed">
                <div>
                    <span>销售所得分析</span>
                    <a></a>
                </div>
            </div><!-- section-title -->

            <div class="table-group sale-income-analysis">
                <div class="table-group-left">
                    <table>
                        <tbody>
                        <tr><td></td></tr>
                        <tr><td>销售价格</td></tr>
                        <tr><td><span>减:</span>销售成本</td></tr>
                        <tr><td><span>减:</span>贷款余额</td></tr>
                        <tr><td>净销售所得</td></tr>
                        </tbody>
                    </table>
                </div><!-- table-group-left -->
                <div class="table-group-right">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide clearfix ">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>第1年</td>
                                        <td>第2年</td>
                                        <td>第3年</td>
                                        <td>第4年</td>
                                    </tr>
                                    <tr>
                                        <td>自动生成</td>
                                        <td>自动生成</td>
                                        <td>自动生成</td>
                                        <td>自动生成</td>
                                    </tr>
                                    <tr>
                                        <td>自动生成</td>
                                        <td>自动生成</td>
                                        <td>自动生成</td>
                                        <td>自动生成</td>
                                    </tr>
                                    <tr>
                                        <td>自动生成</td>
                                        <td>自动生成</td>
                                        <td>自动生成</td>
                                        <td>自动生成</td>
                                    </tr>
                                    <tr>
                                        <td>自动生成</td>
                                        <td>自动生成</td>
                                        <td>自动生成</td>
                                        <td>自动生成</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div><!-- swiper-slide -->
                        </div><!-- swiper-wrapper -->
                    </div><!-- swiper-container -->
                </div><!-- table-group-right -->
            </div><!-- test-index-container -->

            <div class="grey-bar"></div>

            <div class="section-title amp-collapse amp-collapsed">
                <div>
                    <span>贷款分期还款</span>
                    <a></a>
                </div>
            </div><!-- section-title -->

            <div class="table-group loan-repayment-analysis">
                <div class="table-group-left">
                    <table>
                        <tbody>
                        <tr><td></td></tr>
                        <tr><td>第1年</td></tr>
                        <tr><td>第2年</td></tr>
                        <tr><td>第3年</td></tr>
                        </tbody>
                    </table>
                </div><!-- table-group-left -->
                <div class="table-group-right">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide clearfix ">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>还款额</td>
                                            <td>本金</td>
                                            <td>利息</td>
                                            <td>剩余贷款本金</td>
                                        </tr>
                                        <tr>
                                            <td>35,965</td>
                                            <td>31,685</td>
                                            <td>4,280</td>
                                            <td>68,315</td>
                                        </tr>
                                        <tr>
                                            <td>35,965</td>
                                            <td>31,685</td>
                                            <td>4,280</td>
                                            <td>68,315</td>
                                        </tr>
                                        <tr>
                                            <td>35,965</td>
                                            <td>31,685</td>
                                            <td>4,280</td>
                                            <td>68,315</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- swiper-slide -->
                        </div><!-- swiper-wrapper -->
                    </div><!-- swiper-container -->
                </div><!-- table-group-right -->
            </div><!-- test-index-container -->


         </div><!-- scrollable-content -->
    </div><!-- scrollable -->


    <div ui-content-for="simulation-calculation-parameter-dialog-wrapper">
        <div id="simulation-calculation-parameter-dialog" class=" amp-display-none">
            <div class="simulation-calculation-parameter-dialog-content">
                <div class="dialog-title">
                    <span>参数</span>
                    <em>(手动输入)</em>
                </div>

                <div class="dialog-body">
                    <div class="amp-form-group">
                        <label class="amp-form-label">业主要求的收益率</label>
                        <div class="amp-form-content">
                            <input type="number"/>
                        </div>
                    </div><!-- amp-form-group -->

                    <div class="amp-form-group">
                        <label class="amp-form-label">销售成本</label>
                        <div class="amp-form-content sale-form-content clearfix">
                            <input type="number" class="sale-input"/>
                            <div class="sale-cost-input-wrapper">
                                <em>销售成本</em>
                                <input type="number"/>
                            </div>
                        </div>
                    </div><!-- amp-form-group -->

                    <div class="amp-form-group">
                        <label class="amp-form-label">输出资本化率</label>
                        <div class="amp-form-content output-rate-content">
                            <em>第2年,比率</em>
                            <input type="number"/>
                        </div>
                    </div><!-- amp-form-group -->
                    <div class="amp-form-group">
                        <label class="amp-form-label"></label>
                        <div class="amp-form-content output-rate-content">
                            <em>第3年,比率</em>
                            <input type="number"/>
                        </div>
                    </div><!-- amp-form-group -->

                </div><!-- dialog-body -->

                <a class="close-btn"></a>

                <a class="save-btn">保存</a>

            </div><!-- simulation-calculation-parameter-dialog-content -->
        </div><!-- simulation-calculation-parameter-dialog -->
    </div><!-- simulation-calculation-parameter-dialog -->

</div><!-- simulation-calculation-list -->