
<div id="simulation-calculation-list">

    <div class="amp-case-block">
        <div class="amp-case-item-list clearfix">

            <div class="amp-case-item" ng-repeat="item in records">
                <div class="amp-case-title">
                    <em>方案一</em>
                    <a>删除</a>
                </div><!-- amp-case-title -->
                <ul class="amp-case-info-list clearfix">
                    <li class="amp-case-info-item">
                        <em>IRR</em>
                        <div>11%</div>
                    </li>
                    <li class="amp-case-info-item">
                        <em>净现值</em>
                        <div>xxxx<em>(万元)</em></div>
                    </li>

                    <li class="amp-case-info-item">
                        <em>增值</em>
                        <div>xxx<em>(万元)</em></div>
                    </li>
                    <li class="amp-case-info-item">
                        <em>收购价</em>
                        <div>xxx<em>(万元)</em></div>
                    </li>
                    <li class="amp-case-info-item">
                        <em>贷款</em>
                        <div>xxx<em>(万元)</em></div>
                    </li>
                    <li class="amp-case-info-item">
                        <em>退出年数</em>
                        <div>xxx<em>(年)</em></div>
                    </li>
                </ul><!-- amp-case-info-list -->
            </div><!-- amp-case-item -->




        </div><!-- amp-case-item-list -->
    </div><!-- amp-case-block -->

</div><!-- simulation-calculation-list -->