#noi{}
#noi .scrollable-header{background-color:#1a202c;}
#noi #noi-headerInfo-swiper .swiper-pagination{bottom:5px;padding-right:20px;text-align: right;}
#noi #noi-headerInfo-swiper .swiper-slide{padding:15px;height:115px;background-color:#1a202c;color:#fff;}

#noi .swiper-pagination-bullet { width: 8px; height: 8px; display: inline-block; border-radius: 100%;  background: #fff;  opacity: .6;  }
#noi .swiper-pagination-bullet-active{opacity: 1;  background: #5ab46e;}

#noi #noi-headerInfo-swiper .swiper-slide>h5{margin-bottom:15px;font-size:15px;color:#fff;font-weight:normal;}
#noi #noi-headerInfo-swiper .swiper-slide .col-xs-4{padding-left:0;padding-right:0;}
#noi #noi-headerInfo-swiper .swiper-slide .col-xs-4:nth-child(1){padding-left:0;padding-right:0;}
#noi #noi-headerInfo-swiper .swiper-slide .noi-swiper-content span{display: block;margin-bottom:5px;height:16px;line-height: 16px;font-size: 12px;color:#8592a3;}
#noi #noi-headerInfo-swiper .swiper-slide .noi-swiper-content h3{font-family: "impact", "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:20px;font-weight:normal;color:#fff;}
#noi #noi-headerInfo-swiper .swiper-slide .noi-swiper-content h3 em.add-on{display: inline-block;position:relative;top:-2px;margin-left:5px;margin-bottom:5px;height:16px;line-height: 16px;font-size: 12px;color:#fff;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
/*tabs*/
#noiPage .nav { margin-bottom: 0; padding-left: 0; list-style: none; }
#noiPage .nav-tabs { border-bottom: 1px solid #edeef3; }
#noiPage .nav > li { position: relative; display: block; }
#noiPage .nav-tabs > li { float: left; margin-bottom: -1px;width:25%;overflow:hidden;text-overflow: ellipsis;white-space: nowrap; }

#noiPage .nav > li > a { position: relative; display: block; padding: 10px 6px;line-height: 24px;text-align: center;font-size: 13px;}
#noiPage .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 22px;
    border: 0;
    border-bottom:solid 2px transparent;
    color:#373c42;
}

#noiPage .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
    color: #5ab46e;
    background-color: #fff;
    border-bottom-color: #5ab46e;
}

/*amp-block*/
#noiPage .amp-block{border-bottom:solid 10px #edeef3;}
.amp-block .amp-block-title{height:48px;border-left:solid 4px #5ab46e;padding-left:11px;}
.amp-block .amp-block-title h3{position:relative;margin:0;height:48px;padding:10px 0;border-bottom:solid 1px #f3f4f8;line-height:26px;font-size: 17px;color:#373c42; }
.amp-block .amp-block-title em.em-unit{display: inline-block;margin-left:6px;color:#8592a3;font-size:13px;}

.amp-block div.amp-table-wrapper{padding:10px 15px;}


.amp-block .amp-section{}
.amp-section .amp-section-title{height:48px;border-left:solid 4px transparent;padding-left:11px;border-top:solid 1px #edeef3;}
.amp-section:nth-child(1) .amp-section-title{border-top-color:transparent;}
.amp-section .amp-section-title h3{position:relative;margin:0;height:48px;padding:10px 0;border-bottom:solid 1px #edeef3;line-height:26px;font-size: 17px;color:#5ab46e; }
.amp-section .amp-section-title em.em-unit{display: inline-block;margin-left:6px;color:#8592a3;font-size:13px;    line-height: 16px;  vertical-align: 0;}

.amp-block .table{margin-bottom: 0;}
#noiPage .amp-block div.amp-table-wrapper{padding-right:6px;}
#noiPage .amp-block .table > thead > tr > th{border-top:0;border-bottom:0;padding:0;padding-top:5px; height: 16px; line-height: 16px; font-size: 13px;color:#8592a3;text-align: left;background-color:transparent;}

#noiPage .amp-block .table > tbody > tr > td{height:inherit;border-bottom:0;border-top:0;padding:0;padding-bottom:5px;font-size: 14px;color:#373c42;}

#noiPage #noi-chart-wrapper{padding:15px 0;}

/*noi-chart-wrapper*/
.chart-wrapper{position: relative;padding-top:20px;padding-bottom:38px;}
.chart-wrapper em.chart-axis-info{position: absolute;display: block;top:15px;left:35px;font-size: 13px;}

.chart-wrapper .chart-legend{text-align: center;padding:0px 15px;}
.chart-wrapper .chart-legend>span{display: inline-block;height:30px;line-height: 30px;margin-right:10px;margin-left:10px;font-size: 14px;color:#8992a3;}
.chart-wrapper em.color-label {
    display: inline-block;
    position: relative;
    top:1px;
    margin-right: 6px;
    width: 12px;
    height: 12px;
    background-color: #e5e5e5;
    font-style: normal;
}
.chart-wrapper i.name{font-style: normal;font-size: 13px;}

/*#noi-subpage*/
#noi-subpage{background-color:#edeef3;}

#noi .modal-overlay{background-color: #edeef3;}
#noi .modal-overlay .modal-content,#noi .modal-overlay .modal-dialog{margin:0;height:100%;}
#noi .modal-overlay .modal-content{padding-top:44px;position: relative;}
#noi  .modal-header{position:absolute;top:0;left:0;width:100%;padding:0 40px;height:44px;background-color: #1a202c;overflow:hidden;}
#noi  .modal-header button.close{display: block;height:44px;width:40px;position: absolute;z-index:199;top:0;left:0;opacity:1;}
#noi .modal-title{height:44px;line-height: 44px;color:#fff;text-align: center;width:100%;}

#noi .modal-body{padding:0;height:100%;}
/*#noi- modal tabs*/
#noi .modal-overlay .nav { margin-bottom: 0; padding-left: 0; list-style: none; }
#noi .modal-overlay .nav-tabs { border-bottom: 10px solid #edeef3; background-color: #fff;}
#noi .modal-overlay .nav > li { position: relative; display: block; }
#noi .modal-overlay .nav-tabs > li { float: left; margin-bottom: 0;width:25%;overflow:hidden;text-overflow: ellipsis;white-space: nowrap; }

#noi .modal-overlay .nav > li > a { position: relative; display: block; padding: 10px 6px;line-height: 24px;text-align: center;font-size: 13px;}
#noi .modal-overlay .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 22px;
    border: 0;
    color:#373c42;
}

#noi .modal-overlay .nav-tabs > li.active > a,#noi .modal-overlay .nav-tabs > li.active > a:focus {
    color: #5ab46e;
    background-color: #fff;
}
#noi .modal-overlay .amp-section{background-color: #fff;}
#noi .modal-overlay .table{margin-bottom:0;}
#noi .modal-overlay .col-xs-4,#noi .modal-overlay .col-xs-8{padding-left:0;padding-right:0;}

#noi .modal-overlay .swiper-slide{width:auto;}

#noi .modal-overlay table>thead>tr>th {
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    height: 46px;
    color: #8592a3;
    font-size: 12px;
    text-align: right;
    vertical-align: middle;
    border-bottom: 0;
    font-weight: normal;
    border-bottom: 1px solid #d9dde0;
    background-color:#fff;
}
#noi .modal-overlay .col-xs-4>table{width:100%;border-right:solid 1px #d9dde0;}
#noi .modal-overlay table>thead>tr>th span,
#noi .modal-overlay table>thead>tr>th em.em-unit{display: block;height:16px;line-height: 16px;margin:0;}
#noi .modal-overlay table>thead>tr>th span{color:#373c42;font-size:13px;}
#noi .modal-overlay table > tbody > tr > td{font-size:14px;color:#373c42;text-align: right;}

#noi .modal-overlay .col-xs-4>table > tbody > tr > th {
    padding-left:15px;
    font-size: 14px;
    color: #373c42;
    text-align: left;
}
#noi .modal-overlay .col-xs-4>table > tbody > tr.tr-main > th,
#noi .modal-overlay table > tbody > tr.tr-main>td{font-weight:bold;}
#noi .modal-overlay .col-xs-4>table > tbody > tr > th span{display:block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
/*modal里折叠按钮隐藏*/
#noi .modal-overlay  table  .icon-menu-down{display: none;}