@font-face {
    font-family:"impact";
    src:url("./font/impact.ttf") format('truetype');
    font-weight:normal;
    font-style:normal;
}

.projectListView{background-color:#0f161e;}
#project-list{}
.projectListView .scrollable-content{background-color:#0f161e;}
#project-list .amp-section{background-color: #242d3c;border-bottom:solid 10px #0f161e;}
#project-list .amp-section-header{padding:15px 0;height:60px;color:#fff;position: relative;border-bottom:solid 1px #4b5368;}
#project-list .amp-section-header h3{margin-bottom:0;line-height:30px;font-size:16px;}
#project-list .amp-section-header h3>em,#project-list .amp-section-header h3>div.amp-project-opt{display:block;float:left;}

#project-list .amp-section-header em.amp-figure{display: block;height:34px;width:34px;float: right;border-radius: 34px;position: relative;top:-4px;
    background-image:url(../../images/figure_default.png);background-size:cover;background-repeat: no-repeat;background-position: center center;}
#project-list .amp-section-content{padding: 15px 0;}
.amp-section-header h3>div.amp-project-opt{margin-left:6px;color:#12d6ec;}

.amp-section-header h3>div.amp-project-opt a{display: inline-block;margin-left:10px;margin-right:10px; color:#12d6ec;font-size:14px; }

.amp-project-info{position:relative;height:78px;}
.amp-project-info>em,.amp-project-info>label{display: block;}
.amp-project-info>label{height:16px;line-height: 16px;font-size: 12px;color:#9aafc2;}
.amp-project-info>em{font-family: "impact","Helvetica Neue", Helvetica, Arial, sans-serif;color:#64d47e;font-size: 22px;}
.amp-project-chart-wrapper{position:absolute;top:0;right:0;width:80px;height:80px;  overflow: hidden;}

.amp-project-chart-wrapper>span{display: block;position:absolute;width:76px;
    overflow: hidden;top:50%;left:50%;margin-left:-38px;margin-top:-20px;color:#fff;text-align:center;font-size:12px;line-height: 16px;}
.amp-project-chart-wrapper>span>label{display:block;margin-bottom:2px;color:#9aafc2;}

.projectListView .foot-btn-wrapper{height:56px;background-color: #0f161e;}
.projectListView .amp-footer-btn{display: block;width:100%;height:56px;line-height: 56px;padding:0;background-color: #242d3c;border-radius:0;color:#12d6ec;}


/*projectCreate View*/
.projectCreateView{background-color:#0f161e;}
.projectCreateView .input-wrapper{padding-top:30px;padding-bottom:30px;}
.projectCreateView .input-wrapper .input-group{height:56px;padding:7px 0;line-height: 42px;position: relative;width:100%;}
.projectCreateView .input-wrapper .input-group>label{position: absolute;z-index:999;margin-bottom:0;height:42px;width:90px;padding-left:15px;padding-right:15px;left:0;top:50%;margin-top:-21px;color:#8592a3;}
.projectCreateView .input-wrapper .input-group input{display:block;height:42px;width:100%;padding-left:92px;background-color:#242d3c;color:#8592a3;border:0;border-radius:4px;}

.projectCreateView #open-date-wrapper:after {
    display: block;
    position: absolute;
    content: " ";
    width: 15px;
    height: 15px;
    top:50%;
    margin-top:-7px;
    z-index: 99;
    right: 12px;
    background-image: url(../../images/icon_calendar_dgrey@2x.png);
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.projectCreateView .input-wrapper .input-group input[hidden]{display:none;}
.projectCreateView  input:focus {
    outline: solid 3px #8ec1f6;
    outline-offset: -2px;
}

.projectCreateView .input-wrapper .dropdown>button{display:block;height:42px;width:100%;padding-left:92px;background-color:#242d3c;color:#8592a3;border:0;border-radius:4px;text-align: left;}


.projectCreateView .input-wrapper .dropdown>button:after {
    display: block;
    position: absolute;
    content: " ";
    width: 12px;
    height: 12px;
    top:50%;
    margin-top:-6px;
    z-index: 99;
    right: 12px;
    background-image: url(../../images/icon_arrow_down_dgrey@2x.png);
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.projectCreateView .dropdown-menu{width:100%;border-radius:0;border:0;background-color:#242d3c;color:#8592a3; }
.projectCreateView .dropdown-menu li>a{padding-left:92px;height:44px;color:#fff;line-height:38px; text-align:left;font-size:14px;}
.projectCreateView .dropdown-menu li>a:focus,.projectCreateView .dropdown-menu li>a:active,.projectCreateView .dropdown-menu li>a:hover{background-color: #4F6079;}
.projectCreateView  .dropdown-menu > .active > a,.projectCreateView  .dropdown-menu > .active > a:focus{background-color: #4F6079;color:#fff;}

/*

 .datetimepicker{width:80%;}
.datetimepicker table {
    margin: 0;
    width: 100%;
    table-layout: fixed;
    text-align: center;
}
.datetimepicker th.switch{width:inherit;}
.datetimepicker td, .datetimepicker th{width:inherit;height:inherit;}
*/




















