<div id="business-main">
    <ul class="income-analysis-nav-bar clearfix">
        <li><a  href="#/mgt_analysis/contract_list">合同</a></li>
        <li><a class="active" href="javascript:void(0)">营收</a></li>
    </ul>

    <div class="grey-bar"></div>

    <div class="scrollable">
         <div class="scrollable-content section" >
             <div class="section-title">租金</div><!-- section-title -->

             <div class="business-bar-chart">
                 <div class="business-bar-chart-content"></div>
             </div><!-- business-bar-chart -->

             <ul class="business-info-item-list clearfix">
                 <li class="business-info-item" ng-repeat="item in records|filter:{chartItem:true}">
                     <div class="item-label">{{item.commercialType}}</div>
                     <div class="item-value">{{item.curOfficialReceipts|number:0}}</div>
                     <div class="item-percent">{{item.rate}}</div>
                 </li>
             </ul><!-- business-info-item-list -->

             <div class="section-title">业态</div><!-- section-title -->

             <ul class="btn-group clearfix">
                 <li class="btn-group-item"><a ng-class="{'active':!fullYear}" ng-click="switchTable(false)">当月实际(万元)</a></li>
                 <li class="btn-group-item"><a ng-class="{'active':fullYear}" ng-click="switchTable(true)">全年累计(万元)</a></li>
             </ul><!-- btn-group -->

             <div class="business-table">
                 <table>
                     <colgroup>
                         <col width="31%"/>
                         <col width="23%"/>
                         <col width="23%"/>
                         <col width="23%"/>

                     </colgroup>
                     <thead>
                        <tr ng-class="{'full-year':fullYear}">
                            <th></th>
                            <th>实际</th>
                            <th>预计</th>
                            <th>差异额</th>
                        </tr>
                     </thead>
                     <tbody>

                         <tr ng-click="collapseTable(item)" ng-class="{'record-group':item.hasCollapseBtn,'amp-display-none':item.hide,'collapsed':item.collapsed}" data-group="{{item.dataGroup}}"  ng-repeat="item in records">
                             <td data-type="{{item.commercialType}}">{{item.commercialType}}</a></td>
                             <td>
                                 <span ng-if="!fullYear">{{item.curOfficialReceipts|numberFormatDefault:"-":2}}</span>
                                 <span ng-if="fullYear">{{item.calOfficialReceipts|numberFormatDefault:"-":2}}</span>
                             </td>
                             <td>
                                 <span ng-if="!fullYear">{{item.curReceivable|numberFormatDefault:"-":2}}</span>
                                 <span ng-if="fullYear">{{item.calReceivable|numberFormatDefault:"-":2}}</span>
                             </td>
                             <td>
                                 <span ng-if="!fullYear">{{item.curBalance|numberFormatDefault:"-":2}}</span>
                                 <span ng-if="fullYear">{{item.calBalance|numberFormatDefault:"-":2}}</span>
                             </td>
                         </tr>
                     </tbody>
                 </table>
             </div><!-- business-table -->

             <div class="grey-bar"></div>
             <div class="section-title">提成租金商户占比</div><!-- section-title -->


             <div class="deduct-rent-store-rate-chart ">
                 <div class="chart-content-wrapper">
                     <div class="swiper-container">
                         <div class="swiper-wrapper ">
                             <div class="swiper-slide">
                                 <div class="chart-content">f</div>
                             </div><!-- swiper-slide -->
                         </div><!-- swiper-wrapper -->
                     </div><!-- swiper-container -->
                 </div><!-- amp-chart-content-wrapper -->

                 <div class="amp-chart-legend">
                     <ul class="clearfix">
                         <li>保底租金</li>
                         <li>提成租金</li>
                     </ul>
                 </div>
             </div><!-- deduct-rent-store-rate-chart -->

             <div class="table-group deduct-rent-store-rate-table">
                 <div class="table-left">
                     <table>
                         <tbody>
                         <tr><th>商家</th></tr>
                         <tr ng-repeat="item in deductRentStoreRateTable"><td>{{item.type}}</td></tr>
                         </tbody>
                     </table>
                 </div><!-- table-left -->
                 <div class="table-right">
                     <div class="swiper-container">
                         <div class="swiper-wrapper">
                             <div class="swiper-slide">
                                 <table>
                                     <thead>
                                         <tr>
                                             <th>商户数</th>
                                             <th>占比</th>
                                             <th>租金总额</th>
                                             <th>占比</th>
                                         </tr>
                                     </thead>
                                     <tbody>
                                         <tr ng-repeat="item in deductRentStoreRateTable">
                                             <td>{{item.storeNo|number}}</td>
                                             <td>{{item.storeRate}}</td>
                                             <td>{{item.rentTotal|number}}</td>
                                             <td>{{item.rentRate}}</td>
                                         </tr>
                                     </tbody>
                                 </table>
                             </div><!-- swiper-slide -->
                         </div><!-- swiper-wrapper -->
                     </div><!-- swiper-container -->


                 </div><!-- table-right -->
             </div><!-- table-group -->


         </div><!-- scrollable-content -->
    </div><!-- scrollable -->

    <div ui-content-for="amp-right-panel">
        <div class="business-query-panel">
            <div class="query-section business-type-section">
                <div class="query-section-title">租金方式</div>
                <div class="query-section-content">
                    <ul class="clearfix">
                        <li><a class="active">全部</a></li>
                        <li><a>租金</a></li>
                        <li><a>物管费</a></li>
                        <li><a>多经</a></li>
                    </ul>
                </div><!-- query-section-content -->
            </div><!-- query-section -->

            <div class="query-section commercial-type-section">
                <div class="query-section-title">业态</div>
                <div class="query-section-content">
                    <ul class="clearfix">
                        <li><a class="active">全部</a></li>
                        <li><a>超市</a></li>
                        <li><a>影院</a></li>
                        <li><a>时装</a></li>
                        <li><a>餐饮</a></li>
                        <li><a>娱乐</a></li>
                    </ul>
                </div><!-- query-section-content -->
            </div><!-- query-section -->

            <div class="query-section income-type-section">
                <div class="query-section-title">业态</div>
                <div class="query-section-content">
                    <ul class="clearfix">
                        <li><a class="active">全部</a></li>
                        <li><a>自营</a></li>
                        <li><a>业主收益</a></li>
                    </ul>
                </div><!-- query-section-content -->
            </div><!-- query-section -->




            <div class="btn-group clearfix">
                <a class="reset-btn" href="javascript:void(0)">重置</a>
                <a class="query-btn" href="javascript:void(0)" ui-turn-off="uiSidebarRight">查询</a>
            </div>
        </div><!-- query-panel -->
    </div><!-- amp-right-panel -->

    <div ui-content-for="mgt-analysis-menu-list-wrapper">
        <ul class="menu-item-list">
            <li><a class="filter-btn"  ui-toggle="uiSidebarRight" ng-click="closeMenuList()">筛选</a></li>
        </ul>
    </div>
</div><!-- business-main -->