<div id="business-main">

    <div class="scrollable">
         <div class="scrollable-content section" >
             <div class="section-title">租金</div><!-- section-title -->

             <div class="business-bar-chart">
                 <div class="business-bar-chart-content"></div>
             </div><!-- business-bar-chart -->

             <ul class="business-info-item-list clearfix">
                 <li class="business-info-item">
                     <div class="item-label">影院</div>
                     <div class="item-value">105.05</div>
                     <div class="item-percent">32.44%</div>
                 </li>
                 <li class="business-info-item">
                     <div class="item-label">影院</div>
                     <div class="item-value">105.05</div>
                     <div class="item-percent">32.44%</div>
                 </li>
                 <li class="business-info-item">
                     <div class="item-label">影院</div>
                     <div class="item-value">105.05</div>
                     <div class="item-percent">32.44%</div>
                 </li>
                 <li class="business-info-item">
                     <div class="item-label">影院</div>
                     <div class="item-value">105.05</div>
                     <div class="item-percent">32.44%</div>
                 </li>
                 <li class="business-info-item">
                     <div class="item-label">影院</div>
                     <div class="item-value">105.05</div>
                     <div class="item-percent">32.44%</div>
                 </li>
             </ul><!-- business-info-item-list -->

             <div class="section-title">业态</div><!-- section-title -->

             <ul class="btn-group clearfix">
                 <li class="btn-group-item"><a class="active">当月实际(万元)</a></li>
                 <li class="btn-group-item"><a>全年累计(万元)</a></li>
             </ul><!-- btn-group -->

             <div class="business-table">
                 <table>
                     <colgroup>
                         <col width="31%"/>
                         <col width="23%"/>
                         <col width="23%"/>
                         <col width="23%"/>
                     </colgroup>
                     <thead>
                        <tr>
                            <th></th>
                            <th>实际</th>
                            <th>预计</th>
                            <th>差异额</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr class="record-group collapsed">
                            <td>主力店</td>
                            <td>9.80</td>
                            <td>9.80</td>
                            <td>9.80</td>
                        </tr>
                        <tr class="record-group-sub">
                            <td>影院</td>
                            <td>9.80</td>
                            <td>9.80</td>
                            <td>9.80</td>
                        </tr>
                        <tr class="record-group collapsed">
                            <td>非主力店</td>
                            <td>9.80</td>
                            <td>9.80</td>
                            <td>9.80</td>
                        </tr>
                        <tr class="record-group-sub">
                            <td>餐饮</td>
                            <td>9.80</td>
                            <td>9.80</td>
                            <td>9.80</td>
                        </tr>
                        <tr class="record-group-sub">
                            <td>儿童</td>
                            <td>9.80</td>
                            <td>9.80</td>
                            <td>9.80</td>
                        </tr>
                        <tr class="record-group-sub">
                            <td>服装</td>
                            <td>9.80</td>
                            <td>9.80</td>
                            <td>9.80</td>
                        </tr>
                        <tr class="record-group-sub">
                            <td>配套</td>
                            <td>9.80</td>
                            <td>9.80</td>
                            <td>9.80</td>
                        </tr>
                        <tr>
                            <td>合计</td>
                            <td>9.80</td>
                            <td>9.80</td>
                            <td>9.80</td>
                        </tr>
                     </tbody>
                 </table>
             </div><!-- business-table -->

         </div><!-- scrollable-content -->
    </div><!-- scrollable -->

    <div ui-content-for="amp-right-panel">
        <div class="business-query-panel">
            <div class="query-section business-type-section">
                <div class="query-section-title">租金方式</div>
                <div class="query-section-content">
                    <ul class="clearfix">
                        <li><a class="active">全部</a></li>
                        <li><a>租金</a></li>
                        <li><a>物管费</a></li>
                        <li><a>多经</a></li>
                    </ul>
                </div><!-- query-section-content -->
            </div><!-- query-section -->

            <div class="query-section commercial-type-section">
                <div class="query-section-title">业态</div>
                <div class="query-section-content">
                    <ul class="clearfix">
                        <li><a class="active">全部</a></li>
                        <li><a>超市</a></li>
                        <li><a>影院</a></li>
                        <li><a>时装</a></li>
                        <li><a>餐饮</a></li>
                        <li><a>娱乐</a></li>
                    </ul>
                </div><!-- query-section-content -->
            </div><!-- query-section -->

            <div class="query-section income-type-section">
                <div class="query-section-title">业态</div>
                <div class="query-section-content">
                    <ul class="clearfix">
                        <li><a class="active">全部</a></li>
                        <li><a>自营</a></li>
                        <li><a>业主收益</a></li>
                    </ul>
                </div><!-- query-section-content -->
            </div><!-- query-section -->




            <div class="btn-group clearfix">
                <a class="reset-btn" href="javascript:void(0)">重置</a>
                <a class="query-btn" href="javascript:void(0)" ui-turn-off="uiSidebarRight">查询</a>
            </div>
        </div><!-- query-panel -->
    </div><!-- amp-right-panel -->

    <div ui-content-for="mgt-analysis-menu-list-wrapper">
        <ul class="menu-item-list">
            <li><a class="filter-btn"  ui-toggle="uiSidebarRight">筛选</a></li>
        </ul>
    </div>
</div><!-- business-main -->