<div id="contract-detail">

    <div class="scrollable">
        <div class="scrollable-content section" >
            <div class="amp-input-group-list">
                <ul class="amp-input-group clearfix">
                    <li><div><em>品牌</em><input type="text" value="星巴克"/></div></li>
                    <li><div><em>合同编号</em><input type="text"/></div></li>
                </ul>
                <ul class="amp-input-group clearfix">
                    <li class="more-info"><div><em>合同起始</em><input type="text" value="2016-09-10"/></div></li>
                    <li class="more-info"><div><em>合同结束</em><input type="text" value="2026-09-09"/></div></li>
                </ul>
                <ul class="amp-input-group clearfix">
                    <li><div><em>免租期期限</em><input type="text" value=""/></div></li>
                    <li class="more-info" ui-toggle="uiSidebarRight"><div><em>楼层</em><input type="text" value="2F,1F"/></div></li>
                </ul>
                <ul class="amp-input-group clearfix">
                    <li class="whole-column"><div><em>铺位号</em><input type="text" value=""/></div></li>
                </ul>
                <ul class="amp-input-group clearfix">
                    <li class="whole-column more-info"><div><em>业态</em><input type="text" value=""/></div></li>
                </ul>
                <ul class="amp-input-group clearfix">
                    <li><div><em>面积(㎡)</em><input type="text" value=""/></div></li>
                    <li class="more-info"><div><em>租金方式</em><input type="text" value="提成租金"/></div></li>
                </ul>
                <ul class="amp-input-group clearfix">
                    <li><div><em>租金总额(元)</em><input type="text" value=""/></div></li>
                    <li><div><em>提成百分比</em><input type="text" value="9%"/></div></li>
                </ul>
                <ul class="amp-input-group clearfix">
                    <li><div><em>物管费总额(元)</em><input type="text" value=""/></div></li>
                    <li class="more-info"><div><em>付款方式</em><input type="text" value="月付"/></div></li>
                </ul>
            </div><!-- amp-input-group-list -->


        </div><!-- scrollable-content -->
    </div><!-- scrollable -->

    <div ui-content-for="amp-right-panel">
        <div class="contract-detail-floor-panel">

            <div class="query-section floor-section">
                <div class="query-section-title">楼层</div>
                <div class="query-section-content">
                    <ul class="clearfix">
                        <li><a>B2</a></li>
                        <li><a class="active">B1</a></li>
                        <li><a>1F</a></li>
                        <li><a class="active">2F</a></li>
                        <li><a>3F</a></li>
                        <li><a>4F</a></li>
                        <li><a>5F</a></li>
                        <li><a>6F</a></li>
                    </ul>
                </div><!-- query-section-content -->
            </div><!-- query-section -->

            <div class="btn-group clearfix">
                <a class="ok-btn" href="javascript:void(0)" ui-turn-off="uiSidebarRight">确定</a>
            </div>
        </div><!-- query-panel -->
    </div><!-- amp-right-panel -->

</div><!-- simulation-calculation-list-header -->