<div id="contract-list">

    <ul class="income-analysis-nav-bar clearfix">
        <li><a class="nav-bar-active" href="javascript:void(0)">合同</a></li>
        <li><a href="#/mgt_analysis/business_main">营收</a></li>
    </ul>

    <div class="grey-bar"></div>

    <div class="scrollable">
         <div class="scrollable-content section" >
            <ul class="contract-item-list">
                <li class="contract-item" ng-repeat="item in records" ng-click="goToContractDetail()">
                    <div class="contract-item-left">
                        <div class="merchant-name" ng-bind="item.brandName"></div>
                        <div class="contract-no" ng-bind="item.contractId"></div>
                    </div>
                    <div class="contract-item-middle">
                        <div class="contract-start-time" ng-bind="item.contractStartTime"></div>
                        <div class="contract-end-time" ng-bind="item.contractEndTime"></div>
                    </div>
                    <div class="contract-item-right">
                        <div class="rent-type" ng-bind="item.rentType"></div>
                        <div class="square" ng-bind="item.square|number|stringFormatDefault:'m²':'-'"></div>
                    </div>
                </li>
            </ul><!-- contract-item-list -->

         </div><!-- scrollable-content -->
    </div><!-- scrollable -->

    <div ui-content-for="amp-right-panel">
        <div class="contract-query-panel">
            <div class="query-section date-selector-section">
                <div class="query-section-title">时间</div>
                <div class="query-section-content">
                    <div class="calendar-left">
                        <div class="amp-date-input ">
                            <a ng-bind="queryStartTime" ng-click="showDateTimePicker('queryStartTime',queryStartTime)"></a>
                        </div><!-- amp-date-input -->
                    </div><!-- calendar-left -->

                    <span>-</span>

                    <div class="calendar-right">
                        <div class="amp-date-input">
                            <a ng-bind="queryEndTime" ng-click="showDateTimePicker('queryEndTime',queryEndTime)"></a>
                        </div><!-- amp-date-input -->
                    </div><!-- calendar-right -->

                    <!--<input type="text" class="calendar-right"/>-->
                </div><!-- query-section-content -->
            </div><!--query-section -->



            <div class="query-section rent-type-section">
                <div class="query-section-title">租金方式</div>
                <div class="query-section-content">
                    <ul class="clearfix">
                        <li><a class="active">全部</a></li>
                        <li><a>固定</a></li>
                        <li><a>提成</a></li>
                        <li><a>两者取其高</a></li>
                    </ul>
                </div><!-- query-section-content -->
            </div><!-- query-section -->

            <div class="query-section contract-no-section">
                <div class="query-section-title">合同编号</div>
                <div class="query-section-content">
                   <input type="text"/>
                </div><!-- query-section-content -->
            </div><!-- query-section -->


            <div class="btn-group clearfix">
                <a class="reset-btn" href="javascript:void(0)">重置</a>
                <a class="query-btn" href="javascript:void(0)" ui-turn-off="uiSidebarRight">查询</a>
            </div>
        </div><!-- query-panel -->
    </div><!-- amp-right-panel -->



    <div ui-content-for="mgt-analysis-menu-list-wrapper">
        <ul class="menu-item-list">
            <li><a class="enrolment-btn" ng-click="closeMenuList()">录入</a></li>
            <li><a class="statistic-btn" ng-click="showMgtAnalysisPanel()">统计</a></li>
            <li><a class="filter-btn"  ui-toggle="uiSidebarRight" ng-click="closeMenuList()">筛选</a></li>
        </ul>
    </div>

    <div ui-content-for="mgt-analysis-statistics-panel-wrapper">
        <div class="contract-statistics-panel amp-display-none">
            <div class="panel-content">
                <div class="info-group clearfix">
                    <div class="info-item"><em>合同总数</em><div>{{records.length}}</div></div>
                    <div class="info-item"><em>合同总金额(万)</em><div>{{totalValue|number:0}}</div></div>
                </div><!-- info-group -->
            </div><!-- panel-content -->
        </div><!-- contract-statistics-panel -->
    </div>

</div><!-- simulation-calculation-list -->