#arrears-main{position:relative;}

#arrears-main .scrollable{top:41px;height:auto;}
#arrears-main .scrollable-content{padding:0 0 0 0;background-color:#f2f5f7;}

#arrears-main .scrollable-content .arrears-main-content{position:relative;padding-bottom:74px;min-height: 100%;}

#arrears-main .page-navigation-bar{border-bottom:1px solid #dae2e7;}
#arrears-main .page-navigation-bar li{
    width:33.3333333%;
    float:left;
}
#arrears-main .page-navigation-bar li a{
    display:block;
    width:50px;
    height:40px;
    line-height:38px;
    text-align: center;
    color:#737f8c;
    font-size:12px;
    border-bottom:2px solid transparent;
    margin:auto;
}
#arrears-main .page-navigation-bar li a.active{
    color:#5ab46d;
    border-bottom:2px solid #5ab46d;
}
#arrears-main .grey-bar{
    height:10px;
    background-color:#f2f5f7;
}



/* ======================================== table-group ======================================== */
#arrears-main .table-group{position:relative;padding-left:99px;}
#arrears-main .table-group .table-left{position:absolute;left:0;top:0;width:99px;}
#arrears-main .table-group .table-right{width:100%;}
#arrears-main .table-group .swiper-slide{width:auto;}

#arrears-main .table-group th{
    height:41px;
    border-bottom:1px solid #dae2e7;
    background-color:#f2f5f7;
    font-size:12px;
    color:#8592a3;
    text-align: right;
    padding:0 15px;
    white-space: nowrap;
}

#arrears-main .table-group td{
    height:50px;
    text-align: right;
    padding:0 15px;
    font-size:12px;
    white-space: nowrap;
    background-color:#fff;
}
#arrears-main .table-group .table-left table{width:100%;}
#arrears-main .table-group .table-left th,
#arrears-main .table-group .table-left td{
    text-align: left;
    padding:0 0 0 15px;
    border-right:1px solid #dae2e7;

}
#arrears-main .table-group .table-left tr:last-child td{font-weight: bold;font-style: italic;}
#arrears-main .table-group .table-right tr:last-child td{font-weight: bold;font-style: italic;color:#53bde7;}



/*arrears-detail-btn*/
#arrears-main .arrears-detail-btn{
    position:absolute;
    bottom:15px;
    left:15px;
    right:15px;
    height:44px;
    line-height: 44px;
    display:none;
    background-color:#5ab46d;
    font-size:16px;
    color:#fff;
    text-align: center;
}

/* ======================================== arrears-main-query-panel ======================================== */
.amp-right-panel .arrears-main-query-panel{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

.amp-right-panel .arrears-main-query-panel .btn-group{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    height:48px;
}

.amp-right-panel .arrears-main-query-panel .btn-group>a{
    display:block;
    width:50%;
    height:48px;
    line-height: 48px;
    float:left;
    text-align: center;
}

.amp-right-panel .arrears-main-query-panel .btn-group>a.reset-btn{
    background-color:#f2f5f7;
    color:#333;
}

.amp-right-panel .arrears-main-query-panel .btn-group>a.query-btn{
    background-color:#5ab46d;
    color:#fff;
}

.amp-right-panel .arrears-main-query-panel .query-section{
    padding:25px 15px 0 15px;
}

.amp-right-panel .arrears-main-query-panel .query-section .query-section-title{
    height:24px;
    line-height: 24px;
    font-size:14px;
}


.amp-right-panel .arrears-main-query-panel .query-section .query-section-content{
    padding-top:10px;
}
.amp-right-panel .arrears-main-query-panel .query-section .query-section-content>ul>li{

    float:left;
    padding-top:10px;
    padding-right:10px;
}

.amp-right-panel .arrears-main-query-panel .query-section .query-section-content>ul>li>a{
    display:block;
    width:100%;
    height:32px;
    line-height: 32px;
    border-radius: 4px;
    color:#333;
    background-color:#f2f5f7;
    text-align: center;
}
.amp-right-panel .arrears-main-query-panel .query-section  .query-section-content>ul>li>a.active{
    color:#fff;
    background-color:#5ab46d;
}
/*date-selector-section*/
.amp-right-panel .arrears-main-query-panel .query-section.date-selector-section .query-section-content{
    position:relative;
    height:32px;
    line-height: 32px;
    text-align: center;
}

/*floor-section*/
.amp-right-panel .arrears-main-query-panel .query-section.floor-section .query-section-content{padding-top:0;}
.amp-right-panel .arrears-main-query-panel .query-section.floor-section{padding-right:5px;}
.amp-right-panel .arrears-main-query-panel .query-section.floor-section li{
    width:33.3333%;
}