#rent-main{position:relative}

#rent-main .scrollable{top:51px;height:auto;}
#rent-main .scrollable-content{padding:0;}


#rent-main .page-navigation-bar{border-bottom:1px solid #dae2e7;}
#rent-main .page-navigation-bar li{
    width:33.3333333%;
    float:left;
}
#rent-main .page-navigation-bar li a{
    display:block;
    width:50px;
    height:40px;
    line-height:38px;
    text-align: center;
    color:#737f8c;
    font-size:12px;
    border-bottom:2px solid transparent;
    margin:auto;
}
#rent-main .page-navigation-bar li a.active{
    color:#5ab46d;
    border-bottom:2px solid #5ab46d;
}
#rent-main .grey-bar{
    height:10px;
    background-color:#f2f5f7;
}



/* ======================================== pie-group ======================================== */
#rent-main .pie-group .swiper-pagination-bullet{background-color:#ccc;opacity:1;}
#rent-main .pie-group .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #58b56f;
}

#rent-main .amp-chart-content-wrapper .swiper-slide,
#rent-main .commercial-table-group .swiper-slide,
#rent-main .rent-table-group .swiper-slide,
#rent-main .investment-table-group .swiper-slide{width:auto;min-width: 100%;}

/* ======================================== amp-chart ======================================== */
#rent-main .amp-chart{padding-top:30px;padding-bottom:20px;}
#rent-main .amp-chart .amp-chart-content{
    position:relative;
    height:200px;
}

#rent-main .amp-chart .amp-chart-content>div.pie-text{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    height:150px;
    margin: auto;
    z-index: 9;
    text-align: center;
    padding-top:55px;
}

#rent-main .amp-chart .amp-chart-content>div.pie-text em{height:20px;line-height:20px;font-size:16px;color:#8592a3;}
#rent-main .amp-chart .amp-chart-content>div.pie-text div{height:20px;line-height:20px;font-size:16px;color:#8592a3;}


#rent-main .amp-chart .amp-chart-foot{
    height:50px;
    line-height: 50px;
    font-size:12px;
    color:#8592a3;
    text-align: center;
}

/* ======================================== amp-chart-legend ======================================== */
#rent-main .amp-chart .amp-chart-legend ul{padding:0 0 0 15px;}
#rent-main .amp-chart .amp-chart-legend li{
    width:33.33333%;
    height:40px;
    border-left:3px solid transparent;
    margin-bottom:20px;
    padding-left:10px;
    float:left;
}

#rent-main .amp-chart .amp-chart-legend li:nth-child(1){border-color:#0389db;}
#rent-main .amp-chart .amp-chart-legend li:nth-child(2){border-color:#00b1f0;}
#rent-main .amp-chart .amp-chart-legend li:nth-child(3){border-color:#2bdadb;}
#rent-main .amp-chart .amp-chart-legend li:nth-child(4){border-color:#f3f3f3;}
#rent-main .amp-chart .amp-chart-legend li:nth-child(5){border-color:#a6ed66;}
#rent-main .amp-chart .amp-chart-legend li:nth-child(6){border-color:#dcf8a1;}

#rent-main .amp-chart .amp-chart-legend li>em{display:block;height:16px;line-height:16px;font-size:12px;color:#8592a3;}
#rent-main .amp-chart .amp-chart-legend li>div{display:block;height:24px;line-height:24px;font-size:16px;}
#rent-main .amp-chart .amp-chart-legend li>div em{font-size:12px;}


/* ======================================== table-group ======================================== */
#rent-main .table-group{position:relative;padding-left:99px;}
#rent-main .table-group table{width:100%;}
#rent-main .table-group .table-left{position:absolute;left:0;top:0;width:99px;}
#rent-main .table-group .table-right{width:100%;overflow: auto;}

#rent-main .table-group th{
    height:41px;
    border-bottom:1px solid #dae2e7;
    background-color:#f2f5f7;
    font-size:12px;
    color:#8592a3;
    text-align: right;
    padding:0 15px;
    white-space: nowrap;
}

#rent-main .table-group td{
    height:50px;
    text-align: right;
    padding:0 15px;
    font-size:12px;
    white-space: nowrap;
    background-color:#fff;
}

#rent-main .table-group .table-left table tr.collapsed-record td:first-child:after{
    content:"";
    display:inline-block;
    width:18px;
    height:18px;
    background:url(../../../../images/icon_chevron_down@2x.png) no-repeat center center;
    background-size:contain;
    margin-left: 8px;
    vertical-align: -5px;
}

#rent-main .table-group .table-left table tr.collapsed-record.collapsed td:first-child:after{
    background-image:url(../../../../images/icon_chevron_up@2x.png);
}



#rent-main .table-group .table-left table{width:100%;}
#rent-main .table-group .table-left th,
#rent-main .table-group .table-left td{
    text-align: left;
    padding:0 0 0 15px;
    border-right:1px solid #dae2e7;
}

#rent-main .table-group .table-left table tr.record-group-sub td{
    padding-left:20px;
}


#rent-main .table-group-multiple .table-left tr:last-child td{font-weight: bold;font-style: italic;}
#rent-main .table-group-multiple .table-right tr:last-child td{font-weight: bold;font-style: italic;}

/* ======================================== section-title ======================================== */
#rent-main .section-title {
    height: 45px;
    line-height: 44px;
    padding-left: 15px;
    font-size: 16px;
    border-bottom: 1px solid #dae2e7;
    border-left: 4px solid #5ab46d;
}

/* ======================================== amp-bar-chart ======================================== */
#rent-main .amp-bar-chart .amp-chart-content-wrapper{overflow: auto;padding:10px 15px 0 15px;margin-right:15px;}
#rent-main .amp-bar-chart .amp-chart-content{width:100%;min-width:500px;height:160px;}
#rent-main .amp-bar-chart .amp-chart-legend{
    width:160px;
    padding-bottom:10px;
    margin:auto;
}
#rent-main .amp-bar-chart .amp-chart-legend li{
    position:relative;
    height:28px;
    line-height: 28px;
    font-size:12px;
    color: #8592a3;
    float:left;
    padding-left:15px;
}
#rent-main .amp-bar-chart .amp-chart-legend li:last-child{float:right;}
#rent-main .amp-bar-chart .amp-chart-legend li:before{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:8px;
    height:8px;
    margin:auto;
}
#rent-main .amp-bar-chart .amp-chart-legend li:nth-child(1):before{background-color:#5cd4f4;}
#rent-main .amp-bar-chart .amp-chart-legend li:nth-child(2):before{background-color:#5ab46d;}


/* ======================================== amp-bar-chart ======================================== */
#rent-main .investment-line-chart .amp-chart-content{
    height:180px;
}

#rent-main .investment-line-chart .amp-chart-legend{
    width:105px;
    height:24px;
    padding-left:60px;
    line-height: 24px;
    font-size:12px;
    color: #8592a3;
    margin:0 auto 10px auto;
    background:url(../../../../images/avg-line.png) no-repeat left center;
    background-size:53px 3px;
}

/* ======================================== btn-group ======================================== */
#rent-main .btn-group{
    width:100%;
    border-bottom:1px solid #dae2e7;
}
#rent-main .btn-group li{
    width:50%;
    float:left;

}
#rent-main .btn-group li a{
    display:block;
    width:106px;
    height:40px;
    line-height: 38px;
    border-bottom:2px solid transparent;
    text-align: center;
    margin:auto;
    color:#8592a3;
    font-size:12px;
}
#rent-main .btn-group li a.active{
    color: #5ab46d;
    border-bottom: 2px solid #5ab46d;
}

#rent-main  td.padding-level-1{padding-left:15px!important;}
#rent-main  td.padding-level-2{padding-left:30px!important;}
#rent-main  td.padding-level-3{padding-left:45px!important;}

/* ======================================== rent-query-panel ======================================== */
.amp-right-panel .rent-query-panel{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

.amp-right-panel .rent-query-panel .btn-group{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    height:48px;
}

.amp-right-panel .rent-query-panel .btn-group>a{
    display:block;
    width:50%;
    height:48px;
    line-height: 48px;
    float:left;
    text-align: center;
}

.amp-right-panel .rent-query-panel .btn-group>a.reset-btn{
    background-color:#f2f5f7;
    color:#333;
}

.amp-right-panel .rent-query-panel .btn-group>a.query-btn{
    background-color:#5ab46d;
    color:#fff;
}

.amp-right-panel .rent-query-panel .query-section{
    padding:25px 15px 0 15px;
}

.amp-right-panel .rent-query-panel .query-section .query-section-title{
    height:24px;
    line-height: 24px;
    font-size:14px;
}

.amp-right-panel .rent-query-panel .query-section .query-section-content{
    padding-top:10px;
}

/*date-selector-section*/
.amp-right-panel .rent-query-panel .query-section.date-selector-section .query-section-content{
    position:relative;
    height:42px;
    line-height: 32px;
    text-align: center;
}



