ul{
    margin:0;
}
em{font-style: normal;}
a{text-decoration: none;color:#333;}
a:active,a:hover{text-decoration: none;}
th{font-weight: normal;}


.amp-display-none{display:none!important;}


.amp-font-color-grey{color:#8592a3!important;}

.amp-font-weight-bold{font-weight: bold!important;}



.amp-font-style-italic{font-style: italic!important;}

.amp-text-align-right{text-align: right!important;}
.amp-text-align-left{text-align: left!important;}

.td-opt{}
.td-opt>button{display: inline-block;width:32px;height:32px;background-color:#f3f3f3;border:0;}
.amp-table-wrapper-swiper .swiper-slide {
    font-size: 14px;
    width: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}