/*reset*/
i,label,span,em,b{font-weight:normal;font-style: normal;}
.ampApp{background-color:#fff;}
.ampApp .navbar-app{background-color:#1a202c;border-color:#1a202c;color:#fff;}
.ampApp .navbar-absolute-top{height:44px;min-height: 44px;z-index:1999;}
.ampApp .navbar-absolute-bottom{height:48px;min-height: 48px;}
.ampApp .navbar-brand{padding:12px 15px;height:44px;color:#fff;font-weight:normal;}
.ampApp .navbar-app .btn-navbar,.ampApp .navbar-app .btn{height:44px;line-height: 44px;color:#fff;}
.ampApp .navbar-app .btn-navbar:active,.ampApp .navbar-app .btn:active{opacity: 1;}
.sidebar-right,.sidebar-left{background-color:#fff;}
/*.ampApp .navbar-absolute-bottom .btn-navbar, .navbar-app .btn{line-height: 44px;}*/
.ampApp .navbar-app .btn-navbar:hover, .ampApp .navbar-app .btn:hover{color:#fff;}
/*main*/
.ampApp span.ampMenu-wrapper{position:relative;display:block;height:44px;padding-top:30px;line-height: 14px;text-align: center;font-size: 12px;color:#727e8e;}
.ampApp span.ampMenu-wrapper i.amp-menu{display: block;top:3px;left:50%;margin-left:-11.5px;position: absolute;width:23px;height:23px;background-position: center center;background-repeat:no-repeat;background-size:contain;}
.btn.active>span.ampMenu-wrapper{color:#59b46f;}
i.amp-menu-noi{background-image:url(../images/menu_noi@2x.png);}
.btn.active>span.ampMenu-wrapper>i.amp-menu-noi{background-image:url(../images/menu_noi_active@2x.png);}

i.amp-menu-invest{background-image:url(../images/menu_invest@2x.png);}
i.amp-menu-manage{background-image:url(../images/menu_manage@2x.png);}
.btn.active>span.ampMenu-wrapper>i.amp-menu-manage{background-image:url(../images/menu_manage_active@2x.png);}

i.amp-menu-ctrl{background-image:url(../images/menu_ctrl@2x.png);}
.btn.active>span.ampMenu-wrapper>i.amp-menu-ctrl{background-image:url(../images/menu_ctrl_active@2x.png);}

i.amp-menu-data{background-image:url(../images/menu_data@2x.png);}
.btn.active>span.ampMenu-wrapper>i.amp-menu-data{background-image:url(../images/menu_data_active@2x.png);}

/*navOpt-icon*/
.ampApp .navOpt-icon{position:relative;display: inline-block;width:22px;height:44px;}
.ampApp .navOpt-icon:before{position:absolute;display: block;top:50%;margin-top:-11px;left:50%;margin-left:-11px;
    width:22px;height:22px;content:" ";background-repeat: no-repeat;background-position: center center;background-size:contain;content:" ";}

.navOpt-icon-filter:before{background-image:url(../images/icon_filter@2x.png);}
/*回退按钮*/
.navOpt-icon-back:before{background-image:url(../images/icon_logo_back@2x.png);}
.navOpt-icon-home:before{background-image:url(../images/icon_projects@2x.png);}

/*amp icon*/
.ampApp .amp-icon{background-size:contain;background-position: center center;background-repeat: no-repeat;}

.amp-icon-arrow-right{display: block;position:absolute;right:15px;top:50%;margin-top:-6px;background-image:url(../images/icon_arrow_right@2x.png);width:12px; height:12px;}
.amp-icon-back{position:absolute;display: block;top:50%;margin-top:-11px;left:50%;margin-left:-11px;background-image:url(../images/icon_logo_back@2x.png);
    width:22px;height:22px;background-repeat: no-repeat;background-position: center center;background-size:contain;}
/*amp icon */
.ampApp .navbar-app .amp-logo{display: inline-block;position: relative;top:-2px;  width:100.5px; height:26px;
    background-image:url(../images/amp_logo_m_beta@2x.png);background-repeat: no-repeat;background-position: center center;background-size:contain; }

.amp-icon-addProject{position: relative;display:inline-block;margin-right:10px;width:22px;height:22px;background-image:url(../images/icon_plus_blue@2x.png);vertical-align: -5px;}
#amp-create-project-note{color:#fff;text-align: center;margin-top:100px;}
.datetimepicker.dropdown-menu{display:none;}


.icon-menu-down{display:inline-block;position:relative;top:3.5px;width:22px;height:22px;
    backgrond-image:url(../images/icon_chevron_down@2x.png);
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);}
.icon-menu-down:hover{backgrond-image:url(../images/icon_chevron_down_active@2x.png);
}

tr.tr-collapse .icon-menu-down {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
/**/
.amp-block{padding:0;margin-bottom:0;}
.amp-block-pd{padding-left:28px;padding-right:28px;}
.ys-amp .amp-block-title {
    position: relative;
    margin-bottom: 8px;
    height: 44px;
    line-height: 44px;
    overflow: hidden;
}



input[type=number] { -moz-appearance:textfield; }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }

*{-webkit-appearance: none;}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { background-color: rgba(250, 255, 189,0); background-image: none; color: rgb(0, 0, 0); }
::-moz-placeholder { color: #c2cdd7; }
::-webkit-input-placeholder { color:#c2cdd7; }
:-ms-input-placeholder { color:#c2cdd7; }

.amp-btn{background-color:#5ab46e;color:#fff;text-align: center;}
.amp-btn:hover,.amp-btn:focus{backgorund-clor:#5ab46e;color:#fff;}
.amp-btn-lg{width:100%;height:44px;line-height: 20px;}

/*resect col*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.sidebar-right-in .app:after{display: block;position: fixed;top:0;left:0;right:0;bottom:0;background-color: rgba(33,33,33,.65);content: " ";z-index:2999;}

/*reset datetime-picker*/
.datetimepicker table tr td span.active:active, .datetimepicker table tr td span.active:hover:active, .datetimepicker table tr td span.active.disabled:active, .datetimepicker table tr td span.active.disabled:hover:active, .datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active:hover.active, .datetimepicker table tr td span.active.disabled.active, .datetimepicker table tr td span.active.disabled:hover.active {
    background-color: #5ab46e;
}

.datetimepicker table tr td span.active:hover, .datetimepicker table tr td span.active:hover:hover, .datetimepicker table tr td span.active.disabled:hover, .datetimepicker table tr td span.active.disabled:hover:hover, .datetimepicker table tr td span.active:active, .datetimepicker table tr td span.active:hover:active, .datetimepicker table tr td span.active.disabled:active, .datetimepicker table tr td span.active.disabled:hover:active, .datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active:hover.active, .datetimepicker table tr td span.active.disabled.active, .datetimepicker table tr td span.active.disabled:hover.active, .datetimepicker table tr td span.active.disabled, .datetimepicker table tr td span.active:hover.disabled, .datetimepicker table tr td span.active.disabled.disabled, .datetimepicker table tr td span.active.disabled:hover.disabled, .datetimepicker table tr td span.active[disabled], .datetimepicker table tr td span.active:hover[disabled], .datetimepicker table tr td span.active.disabled[disabled], .datetimepicker table tr td span.active.disabled:hover[disabled] {
    background-color: #5ab46e;
}

.datetimepicker table tr td span.active, .datetimepicker table tr td span.active:hover, .datetimepicker table tr td span.active.disabled, .datetimepicker table tr td span.active.disabled:hover {
    background-color: #5ab46e;
    background-image:none;
    background-repeat: repeat-x;
    filter:none;
    background-color:#5ab46e;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover:active, .datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active.active, .datetimepicker table tr td.active:hover.active, .datetimepicker table tr td.active.disabled.active, .datetimepicker table tr td.active.disabled:hover.active {
    background-color: #5ab46e;
}

.datetimepicker table tr td.active:hover, .datetimepicker table tr td.active:hover:hover, .datetimepicker table tr td.active.disabled:hover, .datetimepicker table tr td.active.disabled:hover:hover, .datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover:active, .datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active.active, .datetimepicker table tr td.active:hover.active, .datetimepicker table tr td.active.disabled.active, .datetimepicker table tr td.active.disabled:hover.active, .datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active:hover.disabled, .datetimepicker table tr td.active.disabled.disabled, .datetimepicker table tr td.active.disabled:hover.disabled, .datetimepicker table tr td.active[disabled], .datetimepicker table tr td.active:hover[disabled], .datetimepicker table tr td.active.disabled[disabled], .datetimepicker table tr td.active.disabled:hover[disabled] {
    background-color: #5ab46e;
}

.datetimepicker table tr td.active, .datetimepicker table tr td.active:hover, .datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active.disabled:hover {
    background-color: #5ab46e;
    background-image:none;
    background-repeat: repeat-x;
    filter:none;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}





















