<div ui-content-for="dataToolNav">
    <div class="btn-group pull-left">
        <div class="btn" ng-click="dCtrl.goHome()">
            <i class="navOpt-icon navOpt-icon-home"></i>
        </div>
    </div>
    <div class="navbar-brand navbar-brand-center">
        数据工具
    </div>
    <div class="btn-group pull-right">
        <a ui-turn-on="rpgDropdown" class="btn">
            <i class="navOpt-icon navOpt-icon-doc"></i>
        </a>
        <ul ui-shared-state="rpgDropdown"
                class="dropdown-menu"
                ui-outer-click="Ui.turnOff('rpgDropdown')"
                ui-outer-click-if="Ui.active('rpgDropdown')"
                role="menu"
                ui-show="rpgDropdown"
                ui-turn-off="rpgDropdown">
            <li><a class="btn amp-header-btn" ui-sref="datatool.shopcreate"><i class="navOpt-icon navOpt-icon-plus"></i>新增</a></li>
            <li><a ui-toggle="uiSidebarRight" class="btn amp-header-btn sidebar-right-toggle"><i class="navOpt-icon navOpt-icon-filter"></i>过滤</a></li>
        </ul>
    </div>

</div>


<div class="amp-content-panel" id="rent-package">
    <div class="amp-block">
        <ul class="amp-rpg-list">
            <li class="amp-rpg-item" ng-repeat="shop in dCtrl.indexData| take : dCtrl.paginator.currentOffset : dCtrl.pageLimit  track by $index">
                <div class="amp-panel">
                    <div class="amp-panel-title" ng-click="dCtrl.shopEdit($index,shop)">
                        <span title="{{shop.shopIndex}}">{{shop.shopIndex}}</span>
                        <i>租金</i>
                        <em class="amp-icon amp-icon-arrow-right"></em>
                    </div>
                    <div class="amp-panel-content">
                        <div class="justify clearfix">
                            <span class="col-xs-3">{{shop.floor}}</span>
                            <span class="col-xs-5">建筑面积 {{shop.floorArea | number:2}}m&sup2</span>
                            <span class="col-xs-4 text-right">{{shop.property}}</span>

                            <span class="col-xs-3">{{shop.form}}</span>
                            <span class="col-xs-5">套内面积 {{shop.indoorArea | number:2}}m&sup2</span>
                            <span class="col-xs-4 text-right">{{shop.rentStandard[0] | number:2}}</i>元/m&sup2/月</span>
                        </div>
                    </div>
                </div>

            </li>
        </ul>

        <!--<div class="amp-pagination clearfix">
            <div class="btn-wrapper pull-right" >
                <span style="margin-right:10px;"><em class="page-index-bottom">共<i>{{dCtrl.recordsNum}}</i>条记录，当前第<i>{{dCtrl.paginator.curPageIndex}}</i>/<i>{{dCtrl.pageNum}}</i>页</em></span>
                <div class="btn-group" role="group" aria-label="">
                    <button type="button" class="btn btn-default" id="btn-pre-bottom" ng-click="dCtrl.paginator.prev()"  ng-class="{'btn-disabled':!dCtrl.paginator.hasPrevious()}" ng-disabled="!dCtrl.paginator.hasPrevious()">&lt;</button>
                    <button type="button" class="btn btn-default" id="btn-next-bottom" ng-click="dCtrl.paginator.next()" ng-class="{'btn-disabled':!dCtrl.paginator.hasNext() }" ng-disabled="!dCtrl.paginator.hasNext()" >&gt;</button>
                    <input type="text" value="1" class="page-num-input" ng-model="dCtrl.paginator.pageTarget">
                </div>

                <button type="button" class="btn btn-default amp-btn" id="btn-go" ng-click="dCtrl.loadPage(dCtrl.paginator.pageTarget)">确定</button>
            </div>
        </div>-->
    </div><!--ys-block-->
</div><!-- contentpanel -->
<div ui-content-for="datatool-footer">
    <div class="amp-pagination clearfix" >
        <div class="btn-wrapper" >
            <button type="button" class="btn btn-default pull-left" id="btn-pre-bottom" ng-click="dCtrl.paginator.prev()"  ng-class="{'btn-disabled':!dCtrl.paginator.hasPrevious()}" ng-disabled="!dCtrl.paginator.hasPrevious()">&lt;</button>

            <span style="margin-right:10px;"><em class="page-index-bottom">共<i>{{dCtrl.recordsNum}}</i>条记录，当前第<i>{{dCtrl.paginator.curPageIndex}}</i>/<i>{{dCtrl.pageNum}}</i>页</em></span>

            <button type="button" class="btn btn-default pull-right" id="btn-next-bottom" ng-click="dCtrl.paginator.next()" ng-class="{'btn-disabled':!dCtrl.paginator.hasNext() }" ng-disabled="!dCtrl.paginator.hasNext()" >&gt;</button>
        </div>
    </div>
</div>


<!--amp right panel-->
<!--filters-->
<!--amp right panel-->
<div ui-content-for="amp-right-panel">
    <form name="filterForm" novalidate>
        <div class="amp-panel-content">
            <div class="amp-filter-list">
                　　<div class="toolbar-block">
                    <div class="toolbar-item item-select-filter">
                        <label for="select-id-floor">楼层</label>
                        <input type="text" placeholder="" id="select-id-floor" name="select-id-floor" hidden value="" ng-modal="dCtrl.filters.floor">
                        <div class="dropdown">
                            <button class="btn amp-btn" type="button" ui-turn-on="floorDropdown">
                                <em>{{dCtrl.filters.floor | default:"请选择"}}</em><em class="amp-icon amp-icon-dropdown"></em>
                            </button>
                            <ul ui-shared-state="floorDropdown" class="dropdown-menu"
                                ui-outer-click="Ui.turnOff('floorDropdown')"
                                ui-outer-click-if="Ui.active('floorDropdown')"
                                role="menu"
                                ui-show="floorDropdown"
                                ui-turn-off="floorDropdown">
                                <li ng-class="{'active':dCtrl.isActive(menu,dCtrl.filters.floor)}" role="presentation" ng-repeat="menu in dCtrl.form_menu.floors">
                                    <a role="menuitem" ng-click="dCtrl.setModel('floor',menu)">{{menu}}</a>
                                </li>
                            </ul>
                        </div>
                    </div><!--div toolbar-item-->

                    <div class="toolbar-item item-select-filter">
                        <label for="select-id-form">业态</label>
                        <input type="text" placeholder="" id="select-id-form" name="select-id-form" hidden value="" ng-model="dCtrl.filters.form">
                        <div class="dropdown">
                            <button class="btn amp-btn" type="button" ui-turn-on="formDropdown">
                                <em>{{dCtrl.filters.form | default:"请选择"}}</em><em class="amp-icon amp-icon-dropdown"></em>
                            </button>

                            <ul ui-shared-state="formDropdown" class="dropdown-menu"
                                ui-outer-click="Ui.turnOff('formDropdown')"
                                ui-outer-click-if="Ui.active('formDropdown')"
                                role="menu"
                                ui-show="formDropdown"
                                ui-turn-off="formDropdown">

                                <li ng-class="{'active':dCtrl.isActive(menu,dCtrl.filters.form)}" role="presentation" ng-repeat="menu in dCtrl.form_menu.form"><a role="menuitem" ng-click="dCtrl.setModel('form',menu)">{{menu}}</a></li>
                            </ul>
                        </div>
                    </div><!--div toolbar-item-->

                    <div class="toolbar-item item-select-filter">
                        <label for="select-id-property">产权</label>
                        <input type="text" placeholder="" id="select-id-property" name="select-id-property" hidden value="" ng-model="dCtrl.filters.property">
                        <div class="dropdown">
                            <button class="btn amp-btn" type="button" ui-turn-on="propertyDropdown">
                                <em>{{dCtrl.filters.property | default:"请选择"}}</em><span class="ys-icon ys-icon-dropdown"></span>
                            </button>

                            <ul ui-shared-state="propertyDropdown" class="dropdown-menu"
                                ui-outer-click="Ui.turnOff('propertyDropdown')"
                                ui-outer-click-if="Ui.active('propertyDropdown')"
                                role="menu"
                                ui-show="propertyDropdown"
                                ui-turn-off="propertyDropdown">

                                <li ng-class="{'active':dCtrl.isActive(menu,dCtrl.filters.property)}" role="presentation" ng-repeat="menu in dCtrl.form_menu.property"><a role="menuitem" ng-click="dCtrl.setModel('property',menu)">{{menu}}</a></li>
                            </ul>
                        </div>
                    </div><!--div toolbar-item-->


                    <div class="toolbar-item item-input-filter">
                        <label for="input-id-shop">铺位号</label>
                        <div class="input-group">
                            <input type="text" placeholder="" id="input-id-shop" name="input-id-shop" ng-model="dCtrl.filters.shopIndex" ng-blur="dCtrl.removeFocus($event)" ng-focus="dCtrl.addFocus($event)">
                        </div>
                    </div><!--div toolbar-item-->



            </div>
            </div>
        </div>
        <div class="amp-panel-footer">
            <div class="amp-panel-btn-group">
                <a class="btn amp-btn amp-btn-reverse btn-grey" ng-click="dCtrl.reset()">重置</a>
                <a class="btn amp-btn btn-green" ng-click="dCtrl.search()" ng-disabled="filterForm.$invalid">确定</a>
            </div>
        </div>
    </form>
</div>




