<div ui-content-for="dataToolNav">
    <div class="btn-group pull-left">
        <div class="btn " ui-sref="datatool.rpgindex">
            <i class="navOpt-icon navOpt-icon-back"></i>
        </div>
    </div>

    <div class="navbar-brand navbar-brand-center">
        铺位详情
    </div>


    <div class="btn-group pull-right" ui-yield-to="navbarAction">
        <div class="btn btn-save" ng-click="rCtrl.save()">
            <em>保存</em>
        </div>
    </div>
</div>



<div class="amp-content-panel" id="rent-package-edit">
    <form name="shopInfoForm" novalidate>
    <div class="amp-block">
            <ul class="rpg-set-info rpg-shop-edit" >
                <li class="col-xs-6">
                    <label>铺位号</label>
                    <div class="input-wrapper">
                        <input type="text" value="" ng-model="rCtrl.shopInfo.shopIndex" required/>
                    </div>
                </li>
                <li class="col-xs-6">
                    <label>楼层</label>
                    <div class="input-wrapper">
                        <input type="text" value="" ng-model="rCtrl.shopInfo.floor"/>
                    </div>
                </li>
                <li class="col-xs-6">
                    <label>位置</label>
                    <div class="input-wrapper input-wrapper-select">
                        <input type="text" value="" hidden ng-model="rCtrl.shopInfo.position"/>
                        <button class="btn btn-select" type="button" ng-Click="rCtrl.setSelect('position')">
                            <em>{{rCtrl.shopInfo.position | default:"请选择"}}</em>
                        </button>
                    </div>
                    <span class="ys-icon ys-icon-dropdown"></span>
                </li>
                <li class="col-xs-6">
                    <label>物业类型</label>
                    <div class="input-wrapper input-wrapper-select">
                        <input type="text" value="" hidden ng-model="rCtrl.shopInfo.type"/>
                        <button class="btn btn-select" type="button" ng-Click="rCtrl.setSelect('type')">
                            <em>{{rCtrl.shopInfo.type | default:"请选择"}}</em>
                        </button>
                    </div>
                    <span class="ys-icon ys-icon-dropdown"></span>
                </li>
                <li class="col-xs-6">
                    <label>建筑面积</label>
                    <div class="input-wrapper">
                        <input type="number" value="" ng-model="rCtrl.shopInfo.floorArea"/>
                    </div>
                </li>
                <li class="col-xs-6">
                    <label>套内面积</label>
                    <div class="input-wrapper">
                        <input type="number" value="" ng-model="rCtrl.shopInfo.indoorArea"/>
                    </div>
                </li>
                <li class="col-xs-6">
                    <label>产权性质</label>
                    <div class="input-wrapper input-wrapper-select">
                        <input type="text" value="" hidden ng-model="rCtrl.shopInfo.property"/>
                        <button class="btn btn-select" type="button" ng-Click="rCtrl.setSelect('property')">
                            <em>{{rCtrl.shopInfo.property | default:"请选择"}}</em>
                        </button>
                    </div>
                    <span class="ys-icon ys-icon-dropdown"></span>
                </li>

                <li class="col-xs-6">
                        <label>业态</label>
                        <div class="input-wrapper input-wrapper-select">
                            <input type="text" value="" hidden ng-model="rCtrl.shopInfo.form"/>
                            <button class="btn btn-select" type="button" ng-Click="rCtrl.setSelect('form')">
                                <em>{{rCtrl.shopInfo.form | default:"请选择"}}</em>
                            </button>
                        </div>
                        <span class="ys-icon ys-icon-dropdown"></span>
                </li>
            </ul>
    </div>

    <div class="amp-block">
        <div class="amp-block-title" ng-click="rCtrl.viewDetail('arrearage')">
            <h3 class="col-xs-12">租金标准<em class="em-unit">(元/m&sup2/月)</em></h3>
        </div>
        <ul class="rpg-set-info rpg-shop-edit clearfix">
            <li class="col-xs-6" ng-repeat="rs in rCtrl.shopInfo.rentStandard track by $index">
                <label>第{{$index+1}}年</label>
                <div class="input-wrapper">
                    <input type="text" value="" ng-model="rs" required/>
                </div>
            </li>
           <li class="col-xs-6">
                <div class="td-opt">
                    <button class="td-opt-add" ng-click="rCtrl.addYear('rent');"><em class="ys-icon ys-icon-add"></em></button>
                    <button class="td-opt-remove" ng-click="rCtrl.removeYear('rent')"><em class="ys-icon ys-icon-remove"></em></button>
                </div>
           </li>
        </ul>
    </div>

        <div class="amp-block">
            <div class="amp-block-title" ng-click="rCtrl.viewDetail('arrearage')">
                <h3 class="col-xs-12">物业管理费标准<em class="em-unit">(元/m&sup2/月)</em></h3>
            </div>
            <ul class="rpg-set-info rpg-shop-edit clearfix">
                <li class="col-xs-6" ng-repeat="wy in rCtrl.shopInfo.wyStandard track by $index">
                    <label>第{{$index+1}}年</label>
                    <div class="input-wrapper">
                        <input type="text" value="" ng-model="wy" required/>
                    </div>
                </li>
                <li class="col-xs-6">
                    <div class="td-opt">
                        <button class="td-opt-add" ng-click="rCtrl.addYear('estate');"><em class="ys-icon ys-icon-add"></em></button>
                        <button class="td-opt-remove" ng-click="rCtrl.removeYear('estate')"><em class="ys-icon ys-icon-remove"></em></button>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>
<!---content for amp-right-panel-->
<div ui-content-for="amp-right-panel">
    <form name="rpgSelectForm" novalidate>
    <div class="amp-panel-content">
        <div class="amp-select-section">
            <h5>{{rCtrl.selectTypeName}}</h5>
            <ul class="select-menu" role="menu" >
                <li ng-class="{'active':rCtrl.isActive(menu,rCtrl.shopInfoCopy[rCtrl.selectType])}" role="presentation" class="col-xs-4"
                    ng-repeat="menu in rCtrl.form_menu[rCtrl.selectType]"><a role="menuitem" ng-click="rCtrl.setModel(rCtrl.selectType,menu)">{{menu}}</a></li>
            </ul>
        </div>
    </div>
    <div class="amp-panel-footer">
        <div class="amp-panel-btn-group">
            <a class="btn btn-grey" ng-click="rCtrl.reset(rCtrl.selectType)">重置</a>
            <a class="btn btn-green" ng-click="rCtrl.saveSelect(rpgSelectForm.$invalid)" ng-disabled="rpgSelectForm.$invalid">确定</a>
        </div>
    </div>
    </form>
</div>