<div class="scrollable datatool" id="datatool">
    <div class="scrollable-header" ng-hide="pageId=='datatool-shopedit' || pageId=='datatool-shopcreate' ||pageId=='datatool-rpgresult'||pageId=='datatool-rpgpin'">
        <div class="amp-tab-nav">
            <ui-shared-state id="activeTab" default="1"></ui-shared-state>
            <ul class="nav nav-tabs">
                <li ui-class="{'active': activeTab == 1}">
                    <a ui-set="{'activeTab': 1}" ui-sref="datatool.rpgindex" ui-sref-active="active">租金包</a>
                </li>
                <li ui-class="{'active': activeTab == 2}">
                    <a ui-set="{'activeTab': 2}" ui-sref="datatool.datasim" ui-sref-active="active">沙盒模型</a>
                </li>
                <li ui-class="{'active': activeTab == 3}">
                    <a ui-set="{'activeTab': 3}" ui-sref="datatool.irrplan" ui-sref-active="active">回报计划</a>
                </li>
            </ul>

            <div ui-if="activeTab == 1">
                <ul class="amp-tab-menu justified" role="menu">
                    <!--  <li ng-repeat="menu in ctrl.amp_tab_menu.rpgSet">
                          <a ui-sref="" ui-sref-active="" role="menuitem" ng-click="ctrl.setModel('proportionType',menu)">{{menu}}</a></li>-->
                    <li role="menuitem">
                        <a ui-sref="datatool.rpgindex" ui-sref-active="active">铺位信息</a>
                    </li>
                    <li role="menuitem">
                        <a ui-sref="datatool.rpgset" ui-sref-active="active">租金包设定</a>
                    </li>
                </ul>
            </div>

            <div ui-if="activeTab == 2">
                <ul class="amp-tab-menu justified" role="menu">
                    <li role="menuitem">
                        <a ui-sref="datatool.datasim" ui-sref-active="active">推演模拟</a>
                    </li>

                </ul>
            </div>

            <div ui-if="activeTab == 3">
                <ul class="amp-tab-menu justified" role="menu">
                    <li role="menuitem">
                        <a ui-sref="datatool.irrplan" ui-sref-active="active">回报计划</a>
                    </li>
                </ul>
            </div>
        </div>
    </div><!--scrollable-header-->

    <div class="scrollable-content">
        <div ui-view="datatool-content" class="animated"
             ng-class="{'view-back': state.back, 'view-to-home': state.toHome, 'view-exit': state.exit, 'fadeOut': state.exit,'fadeIn': state.enter, 'view-enter': state.enter, 'view-loading': state.loading}">

        </div>
    </div><!--scrollable content-->
    <div class="scrollable-footer"  ng-show="dFooterShow==true">
        <div ui-yield-to="datatool-footer">
        </div>
    </div>
</div><!--scrollable-->