
<div class="amp-content-panel" id="rgp-set-index">
    <div class="amp-block">
        <ul class="rpg-set-info" id="rpg-set-info">
            <li class="col-xs-6">
                ßßgit
            </li>
        </ul>
        <div class="amp-table-wrapper">


            <table class="table table-right-bordered amp-table" >
                <thead>
                <tr>
                    <th>建筑面积(m&sup2)</th>
                    <th>总租金(万)</th>
                    <th>平均租金(元/m&sup2/月)</th>
                    <th>开业时间</th>
                    <th>套内面积(m&sup2)</th>
                </tr>
                </thead>
                <tbody>
                <tr class="tr-info-main">
                    <td>
                        <h3>{{sCtrl.setData[0].value | number:2}}</h3>
                    </td>
                    <td>
                        <h3>{{sCtrl.setData[1].value | number:2}}</h3>
                    </td>
                    <td>
                       <h3>{{sCtrl.setData[2].value | number:2}}</h3>
                    </td>
                    <td>
                        <h3>{{sCtrl.setData[3].value}}</h3>
                    </td>
                    <td>
                       <h3>{{sCtrl.setData[4].value | number:2}}</h3>
                    </td>
                </tr>
                </tbody>
            </table>
        </div><!--end ys-finacial-income-table-->
    </div><!--ys-block-->
    <div class="amp-block-pd amp-block-fixed amp-block-fixed-bottom">
          <div class="btn-wrapper">
            <a href="amp_main_solo.html?projectid={{curProject}}" class="btn btn-default amp-btn" target="_blank">推算</a>
        </div>
    </div>
</div><!-- contentpanel -->

<div ui-content-for="rightPanel">
    RightPanel @ rpg_setIndex

</div>

<div ui-content-for="amp-right-panel">
    LeftPanel @ rpg_setIndex
    =======+++++++++========
</div>
