<div ui-content-for="dataToolNav">
    <div class="navbar-brand navbar-brand-center">
        铺位信息
    </div>
    <div class="btn-group pull-left">
        <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
            <i class="navOpt-icon navOpt-icon-back"></i>
        </div>
    </div>

    <div class="btn-group pull-right">
        <a ui-turn-on="rpgDropdown" class="btn">
            <i class="fa fa-ellipsis-v"></i>
        </a>
        <ul ui-shared-state="rpgDropdown"
                class="dropdown-menu"
                ui-outer-click="Ui.turnOff('rpgDropdown')"
                ui-outer-click-if="Ui.active('rpgDropdown')"
                role="menu"
                ui-show="rpgDropdown"
                ui-turn-off="rpgDropdown">

            <li><a class="btn amp-header-btn" ui-sref="datatool.shopcreate">新增</a></li>
            <li><a ui-toggle="uiSidebarRight" class="btn amp-header-btn sidebar-right-toggle"><i class="navOpt-icon navOpt-icon-filter"></i>过滤</a></li>

        </ul>
    </div>

</div>


<div class="amp-content-panel" id="rent-package">
    <div class="amp-block">
        <ul class="amp-rpg-list">
            <li class="amp-rpg-item" ng-repeat="shop in dCtrl.indexData| take : dCtrl.paginator.currentOffset : dCtrl.pageLimit  track by $index">
                <div class="amp-panel">
                    <div class="amp-panel-title" ng-click="dCtrl.shopEdit($index,shop)">
                        <span title="{{shop.shopIndex}}">{{shop.shopIndex}}</span>
                        <i>租金<em class="amp-icon amp-icon-arrow-right"></em></i>
                    </div>
                    <div class="amp-panel-content">
                        <div class="justify clearfix">
                            <span class="col-xs-4">{{shop.floor}}</span>
                            <span class="col-xs-4">建筑面积 {{shop.floorArea | number:2}}</span>
                            <span class="col-xs-4">{{shop.property}}</span>

                            <span class="col-xs-4">{{shop.form}}</span>
                            <span class="col-xs-4">套内面积 {{shop.indoorArea | number:2}}</span>
                            <span class="col-xs-4 text-right">{{shop.rentStandard[0] | number:2}}</i>元/m&sup2/月</span>
                        </div>
                    </div>
                </div>

            </li>
        </ul>
        <div class="amp-pagination clearfix">
            <div class="btn-wrapper pull-right" >
                <span style="margin-right:10px;"><em class="page-index-bottom">共<i>{{dCtrl.recordsNum}}</i>条记录，当前第<i>{{dCtrl.paginator.curPageIndex}}</i>/<i>{{dCtrl.pageNum}}</i>页</em></span>
                <div class="btn-group" role="group" aria-label="">
                    <button type="button" class="btn btn-default" id="btn-pre-bottom" ng-click="dCtrl.paginator.prev()"  ng-class="{'btn-disabled':!dCtrl.paginator.hasPrevious()}" ng-disabled="!dCtrl.paginator.hasPrevious()">&lt;</button>
                    <button type="button" class="btn btn-default" id="btn-next-bottom" ng-click="dCtrl.paginator.next()" ng-class="{'btn-disabled':!dCtrl.paginator.hasNext() }" ng-disabled="!dCtrl.paginator.hasNext()" >&gt;</button>
                    <input type="text" value="1" class="page-num-input" ng-model="dCtrl.paginator.pageTarget">
                </div>

                <button type="button" class="btn btn-default amp-btn" id="btn-go" ng-click="dCtrl.loadPage(dCtrl.paginator.pageTarget)">确定</button>
            </div>
            <!--<span class="amp-tipsnote" style="position: relative;float:right; top:5px;background-color:transparent;margin-right:36px;"><em class="ys-amp-icon ys-icon-tips ys-icon-tips-hover" style="left:5px;margin-top:-11px;"></em>体验版数据为模拟数据，请勿引用，可提供数据整合服务</span>-->
        </div>
    </div><!--ys-block-->
</div><!-- contentpanel -->


