<div ui-yield-to="dataToolNav">
    <div class="btn-group pull-left">
        <div class="btn" ng-click="dCtrl.goHome()">
            <i class="navOpt-icon navOpt-icon-home"></i>
        </div>
    </div>
    <div class="navbar-brand navbar-brand-center">
        管理工具
    </div>
    <div class="btn-group pull-right" ui-yield-to="navbarAction">
        <div ui-toggle="uiSidebarRight" class="btn sidebar-right-toggle">
            <i class="navOpt-icon navOpt-icon-filter"></i>
        </div>
    </div>
</div>

