<div ui-content-for="dataToolNav">
    <div class="btn-group pull-left">
        <div class="btn " ui-sref="datatool.rpgindex">
            <i class="navOpt-icon navOpt-icon-back"></i>
        </div>
    </div>
    <div class="navbar-brand navbar-brand-center">
        租金包设定
    </div>
    <!--<div class="btn-group pull-right" ui-yield-to="navbarAction">
        <div ui-toggle="uiSidebarRight" class="btn sidebar-right-toggle">
            <i class="navOpt-icon navOpt-icon-filter"></i>
        </div>
    </div>-->
</div>

<div class="amp-content-panel" id="rgp-set">
    <form name="rpgSetForm">
    <div class="amp-block clearfix">
        <div class="amp-block-title">
            <h3 class="col-xs-12">参考租金计算</h3>
        </div>

        <div class="amp-table-wrapper-swiper" id="rpg-set-table-wrapper" style="height:698px;">
            <div class="ys-table-fixed-top" style="padding-left:150px;">
                <div class="ys-table-static ys-table-static-left" style="width:150px;">

                    <table class="table table-bordered amp-table table-hover table-header-fixed" style="width:100%;">
                        <thead>
                        <tr style="">
                            <th class="th-fake"></th>
                            <th colspan="2" rowspan="2"><span>分析因素</span></th>
                           <!-- <th rowspan="2"><span>因素权重</span></th>-->
                        </tr>
                        <tr>
                            <th class="th-fake"></th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="swiper-container" style="width:100%;" id="rpg-set-main-table-head">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <table class="table table-bordered amp-table table-hover table-header-fixed" style="width:1500px;" >
                                <colgroup>
                                    <col width="90px">
                                    <col width="90px">
                                    <col width="">
                                    <col width="90px">
                                    <col width="">
                                    <col width="90px">
                                    <col width="">
                                </colgroup>

                                <thead>

                                <tr>
                                    <th rowspan="2"><span>因素权重</span></th>
                                    <td colspan="2"><span>项目A</span></td><!--七宝万科购物广场-->
                                    <td colspan="2"><span>项目B</span></td><!-- 来福士-->
                                    <td colspan="2"><span>本项目</span></td><!--七宝宝龙购物广场-->
                                </tr>

                                <tr>                                 
                                    <td><span>比较</span></td>
                                    <td><span>比较本案的描述</span></td>
                                    <td><span>比较</span></td>
                                    <td><span>比较本案的描述</span></td>
                                    <td><span>比较</span></td>
                                    <td><span>比较本案的描述</span></td>
                                </tr>
                                </thead>
                            </table>
                        </div><!--swiper-slide-->
                    </div><!--swiper-wrapper-->
                    <!-- Add Scroll Bar -->
                    <!-- <div class="swiper-scrollbar"></div>-->
                </div><!--swiper container-->
            </div>
            <div class="ys-table-main" style="padding-left:150px;">
                <div class="ys-table-static ys-table-static-left" style="width:150px;">
                    <table class="table table-bordered amp-table table-hover" style="width:100%;">
                        <colgroup>
                            <col width="0">
                            <col width="43px">
                            <col width="107px">
                        </colgroup>

                        <tbody>
                        <tr>
                            <th class="td-fake"></th>
                            <td rowspan="4" class="td-vertical"><span>地段条件</span></td>
                            <td><span>区域属性</span></td>

                        </tr>
                        <tr>
                            <th class="td-fake"></th>
                            <td><span>交通通达性</span></td>


                        </tr>
                        <tr>
                            <th class="td-fake"></th>
                            <td><span>配套完善度</span></td>


                        </tr>
                        <tr>
                            <th class="td-fake"></th>
                            <td><span>人口条件</span></td>


                        </tr>
                        <tr>
                            <th class="td-fake"></th>
                            <td rowspan="4" class="td-vertical"><span>产品条件</span></td>
                            <td><span>店型优势</span></td>


                        </tr>
                        <tr>
                            <th class="td-fake"></th>
                            <td><span>动线规划</span></td>


                        </tr>
                        <tr>
                            <th class="td-fake"></th>
                            <td><span>硬件档次</span></td>


                        </tr>
                        <tr>
                            <th class="td-fake"></th>
                            <td><span>停车位数量</span></td>


                        </tr>
                        <tr>
                            <th class="td-fake"></th>
                            <td rowspan="3" class="td-vertical"><span>其他条件</span></td>
                            <td><span>租户品质</span></td>


                        </tr>
                        <tr>
                            <th class="td-fake"></th>
                            <td><span><span>企业品牌度</span></span></td>


                        </tr>
                        <tr>
                            <th class="td-fake"></th>
                            <td><span>免租期</span></td>


                        </tr>
                        <tr>
                            <th class="td-fake"></th>
                            <td colspan="2"><span>因素权重打分小计</span></td>
                        </tr>
                        <tr>
                            <th class="td-fake"></th>
                            <td colspan="2" class="td-tight"><span>参考租金<em class="em-unit">(元/平米/月，GLA)</em></span></td>
                        </tr>
                        <tr>
                            <th class="td-fake"></th>
                            <td colspan="2" class="td-tight"><span>加权租金<em class="em-unit">(元/平米/月，GLA)</em></span></td>
                        </tr>
                        <tr>
                            <th class="td-fake"></th>
                            <td colspan="2" class="td-tight"><span>参考权重<em class="em-unit">(近似的比重高)</em></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="swiper-container" style="width:100%;" id="rpg-set-main-table">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <table class="table table-bordered amp-table table-hover"  style="width:1500px;">
                                <colgroup>
                                    <col width="90px">
                                    <col width="90px">
                                    <col width="">
                                    <col width="90px">
                                    <col width="">
                                    <col width="90px">
                                    <col width="">

                                </colgroup>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="td-input-wrapper num-input" >
                                            <input type="number" placeholder="/" value="" ng-model="sCtrl.rpgSetData.rentCount.affect_position[0].weight" ng-change="sCtrl.updateWeight()">
                                            <span class="number-format">{{sCtrl.rpgSetData.rentCount.affect_position[0].weight*100|number:2}}<i class="unit-addon">%</i></span>
                                        </div>

                                    </td>
                                    <td ng-repeat-start="project in sCtrl.rpgSetData.rentCount.affect_position[0].projects">
                                        <div class="td-input-wrapper num-input" >
                                            <input type="number" placeholder="/" value="" ng-model="project.value" ng-change="sCtrl.updateWeight()">
                                            <span class="number-format">{{project.value}}</span>
                                        </div>
                                    </td>
                                    <td ng-repeat-end>
                                        <div class="td-input-wrapper text-input">
                                            <input type="text" value=""  data-date="" placeholder=""  ng-model="project.description"/>
                                            <!--<span class="number-format"></span>-->
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                     <td>
                                       <div class="td-input-wrapper num-input">
                                           <input type="number" placeholder="/" value="" ng-model="sCtrl.rpgSetData.rentCount.affect_position[1].weight" ng-change="sCtrl.updateWeight()">
                                           <span class="number-format">{{sCtrl.rpgSetData.rentCount.affect_position[1].weight*100|number:2}}<i class="unit-addon">%</i></span>
                                       </div>
                                    </td>
                                    <td ng-repeat-start="project in sCtrl.rpgSetData.rentCount.affect_position[1].projects">
                                        <div class="td-input-wrapper num-input" >
                                            <input type="number" placeholder="/" value="" ng-model="project.value" ng-change="sCtrl.updateWeight()">
                                            <span class="number-format">{{project.value}}</span>
                                        </div>
                                    </td>
                                    <td ng-repeat-end>
                                        <div class="td-input-wrapper text-input">
                                            <input type="text" value=""  data-date="" placeholder=""  ng-model="project.description"/>
                                            <!--<span class="number-format"></span>-->
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       <div class="td-input-wrapper num-input">
                                           <input type="number" placeholder="/" value="" ng-model="sCtrl.rpgSetData.rentCount.affect_position[2].weight" ng-change="sCtrl.updateWeight()">
                                           <span class="number-format">{{sCtrl.rpgSetData.rentCount.affect_position[2].weight*100|number:2}}<i class="unit-addon">%</i></span>
                                       </div>
                                    </td>
                                    <td ng-repeat-start="project in sCtrl.rpgSetData.rentCount.affect_position[2].projects">
                                        <div class="td-input-wrapper num-input" >
                                            <input type="number" placeholder="/" value="" ng-model="project.value" ng-change="sCtrl.updateWeight()">
                                            <span class="number-format">{{project.value}}</span>
                                        </div>
                                    </td>
                                    <td ng-repeat-end>
                                        <div class="td-input-wrapper text-input">
                                            <input type="text" value=""  data-date="" placeholder=""  ng-model="project.description"/>
                                            <!--<span class="number-format"></span>-->
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                     <td>
                                         <div class="td-input-wrapper num-input">
                                              <input type="number" placeholder="/" value="" ng-model="sCtrl.rpgSetData.rentCount.affect_position[3].weight" ng-change="sCtrl.updateWeight()">
                                              <span class="number-format">{{sCtrl.rpgSetData.rentCount.affect_position[3].weight*100|number:2}}<i class="unit-addon">%</i></span>
                                          </div>
                                     </td>
                                    <td ng-repeat-start="project in sCtrl.rpgSetData.rentCount.affect_position[3].projects">
                                        <div class="td-input-wrapper num-input" >
                                            <input type="number" placeholder="/" value="" ng-model="project.value" ng-change="sCtrl.updateWeight()">
                                            <span class="number-format">{{project.value}}</span>
                                        </div>
                                    </td>
                                    <td ng-repeat-end>
                                        <div class="td-input-wrapper text-input">
                                            <input type="text" value=""  data-date="" placeholder=""  ng-model="project.description"/>
                                            <!--<span class="number-format"></span>-->
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                     <td>
                                       <div class="td-input-wrapper num-input">
                                           <input type="number" placeholder="/" value="" ng-model="sCtrl.rpgSetData.rentCount.affect_product[0].weight" ng-change="sCtrl.updateWeight()">
                                           <span class="number-format">{{sCtrl.rpgSetData.rentCount.affect_product[0].weight*100|number:2}}<i class="unit-addon">%</i></span>
                                       </div>
                                     </td>
                                    <td ng-repeat-start="project in sCtrl.rpgSetData.rentCount.affect_product[0].projects">
                                        <div class="td-input-wrapper num-input" >
                                            <input type="number" placeholder="/" value="" ng-model="project.value" ng-change="sCtrl.updateWeight()">
                                            <span class="number-format">{{project.value}}</span>
                                        </div>
                                    </td>
                                    <td ng-repeat-end>
                                        <div class="td-input-wrapper text-input">
                                            <input type="text" value=""  data-date="" placeholder=""  ng-model="project.description"/>
                                            <!--<span class="number-format"></span>-->
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                     <td>
                                        <div class="td-input-wrapper num-input">
                                            <input type="number" placeholder="/" value="" ng-model="sCtrl.rpgSetData.rentCount.affect_product[1].weight" ng-change="sCtrl.updateWeight()">
                                            <span class="number-format">{{sCtrl.rpgSetData.rentCount.affect_product[1].weight*100|number:2}}<i class="unit-addon">%</i></span>
                                        </div>
                                    </td>
                                    <td ng-repeat-start="project in sCtrl.rpgSetData.rentCount.affect_product[1].projects">
                                        <div class="td-input-wrapper num-input" >
                                            <input type="number" placeholder="/" value="" ng-model="project.value" ng-change="sCtrl.updateWeight()">
                                            <span class="number-format">{{project.value}}</span>
                                        </div>
                                    </td>
                                    <td ng-repeat-end>
                                        <div class="td-input-wrapper text-input">
                                            <input type="text" value=""  data-date="" placeholder=""  ng-model="project.description"/>
                                            <!--<span class="number-format"></span>-->
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="td-input-wrapper num-input">
                                            <input type="number" placeholder="/" value="" ng-model="sCtrl.rpgSetData.rentCount.affect_product[2].weight" ng-change="sCtrl.updateWeight()">
                                            <span class="number-format">{{sCtrl.rpgSetData.rentCount.affect_product[2].weight*100|number:2}}<i class="unit-addon">%</i></span>
                                        </div>
                                     </td>
                                    <td ng-repeat-start="project in sCtrl.rpgSetData.rentCount.affect_product[2].projects">
                                        <div class="td-input-wrapper num-input" >
                                            <input type="number" placeholder="/" value="" ng-model="project.value" ng-change="sCtrl.updateWeight()">
                                            <span class="number-format">{{project.value}}</span>
                                        </div>
                                    </td>
                                    <td ng-repeat-end>
                                        <div class="td-input-wrapper text-input">
                                            <input type="text" value=""  data-date="" placeholder=""  ng-model="project.description"/>
                                            <!--<span class="number-format"></span>-->
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="td-input-wrapper num-input">
                                            <input type="number" placeholder="/" value="" ng-model="sCtrl.rpgSetData.rentCount.affect_product[3].weight" ng-change="sCtrl.updateWeight()">
                                            <span class="number-format">{{sCtrl.rpgSetData.rentCount.affect_product[3].weight*100|number:2}}<i class="unit-addon">%</i></span>
                                        </div>
                                    </td>
                                    <td ng-repeat-start="project in sCtrl.rpgSetData.rentCount.affect_product[3].projects">
                                        <div class="td-input-wrapper num-input" >
                                            <input type="number" placeholder="/" value="" ng-model="project.value" ng-change="sCtrl.updateWeight()">
                                            <span class="number-format">{{project.value}}</span>
                                        </div>
                                    </td>
                                    <td ng-repeat-end>
                                        <div class="td-input-wrapper text-input">
                                            <input type="text" value=""  data-date="" placeholder=""  ng-model="project.description"/>
                                            <!--<span class="number-format"></span>-->
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="td-input-wrapper num-input">
                                            <input type="number" placeholder="/" value="" ng-model="sCtrl.rpgSetData.rentCount.affect_others[0].weight" ng-change="sCtrl.updateWeight()">
                                            <span class="number-format">{{sCtrl.rpgSetData.rentCount.affect_others[0].weight*100|number:2}}<i class="unit-addon">%</i></span>
                                        </div>
                                    </td>
                                    <td ng-repeat-start="project in sCtrl.rpgSetData.rentCount.affect_others[0].projects">
                                        <div class="td-input-wrapper num-input" >
                                            <input type="number" placeholder="/" value="" ng-model="project.value" ng-change="sCtrl.updateWeight()">
                                            <span class="number-format">{{project.value}}</span>
                                        </div>
                                    </td>
                                    <td ng-repeat-end>
                                        <div class="td-input-wrapper text-input">
                                            <input type="text" value=""  data-date="" placeholder=""  ng-model="project.description"/>
                                            <!--<span class="number-format"></span>-->
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="td-input-wrapper num-input">
                                            <input type="number" placeholder="/" value="" ng-model="sCtrl.rpgSetData.rentCount.affect_others[1].weight" ng-change="sCtrl.updateWeight()">
                                            <span class="number-format">{{sCtrl.rpgSetData.rentCount.affect_others[1].weight*100|number:2}}<i class="unit-addon">%</i></span>
                                        </div>
                                    </td>
                                    <td ng-repeat-start="project in sCtrl.rpgSetData.rentCount.affect_others[1].projects">
                                        <div class="td-input-wrapper num-input" >
                                            <input type="number" placeholder="/" value="" ng-model="project.value" ng-change="sCtrl.updateWeight()">
                                            <span class="number-format">{{project.value}}</span>
                                        </div>
                                    </td>
                                    <td ng-repeat-end>
                                        <div class="td-input-wrapper text-input">
                                            <input type="text" value=""  data-date="" placeholder=""  ng-model="project.description"/>
                                            <!--<span class="number-format"></span>-->
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="td-input-wrapper num-input">
                                            <input type="number" placeholder="/" value="" ng-model="sCtrl.rpgSetData.rentCount.affect_others[2].weight" ng-change="sCtrl.updateWeight()">
                                            <span class="number-format">{{sCtrl.rpgSetData.rentCount.affect_others[2].weight*100|number:2}}<i class="unit-addon">%</i></span>
                                        </div>
                                    </td>
                                    <td ng-repeat-start="project in sCtrl.rpgSetData.rentCount.affect_others[2].projects">
                                        <div class="td-input-wrapper num-input" >
                                            <input type="number" placeholder="/" value="" ng-model="project.value" ng-change="sCtrl.updateWeight()">
                                            <span class="number-format">{{project.value}}</span>
                                        </div>
                                    </td>
                                    <td ng-repeat-end>
                                        <div class="td-input-wrapper text-input">
                                            <input type="text" value=""  data-date="" placeholder=""  ng-model="project.description"/>
                                            <!--<span class="number-format"></span>-->
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="td-input-wrapper num-input">
                                            <input type="number" placeholder="/" value="" ng-model="sCtrl.rpgSetData.rentCount.affect_count[0].value" ng-change="sCtrl.updateWeight()">
                                            <span class="number-format">100<i class="unit-addon">%</i></span>
                                        </div>
                                    </td>
                                    <td ng-repeat-start="project in sCtrl.affect_count[0].projects">
                                        <div class="td-input-wrapper num-input" >
                                            <input type="number" placeholder="/" value="" ng-model="project.value" disabled >
                                            <span class="number-format">{{project.value | number:2}}</span>
                                        </div>
                                    </td>
                                    <td ng-repeat-end>
                                        <div class="td-input-wrapper text-input">
                                            <input type="text" value=""  data-date="" placeholder=""  ng-model="project.description" />
                                            <!--<span class="number-format"></span>-->
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                     <td>
                                        <!--<div class="td-input-wrapper num-input">
                                            <input type="text" placeholder="/" value="" ng-model="sCtrl.rpgSetData.rentCount.affect_count[1].value">
                                            <span class="number-format">{{sCtrl.rpgSetData.rentCount.affect_count[1].value|number:2}}</span>
                                        </div>-->
                                    </td>
                                    <td ng-repeat-start="project in sCtrl.affect_count[1].projects">
                                        <div class="td-input-wrapper num-input" ng-if="$index<2">
                                            <input type="number" placeholder="/" value="" ng-model="project.value" ng-change="sCtrl.updateWeight()">
                                            <span class="number-format">{{project.value|number:2}}</span>
                                        </div>
                                    </td>
                                    <td ng-repeat-end>
                                        <div class="td-input-wrapper text-input">
                                            <input type="text" value=""  data-date="" placeholder=""  ng-model="project.description"/>
                                            <!--<span class="number-format"></span>-->
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                     <td>
                                       <!-- <div class="td-input-wrapper num-input">
                                            <input type="text" placeholder="/" value="" ng-model="sCtrl.rpgSetData.rentCount.affect_count[2].value">
                                            <span class="number-format">{{sCtrl.rpgSetData.rentCount.affect_count[2].value|number:2}}</span>
                                        </div>-->
                                    </td>
                                    <td ng-repeat-start="project in sCtrl.affect_count[2].projects">
                                        <div class="td-input-wrapper num-input" ng-if="$index<2">
                                            <input type="number" placeholder="/" value="" ng-model="project.value" disabled>
                                            <span class="number-format">{{project.value|number:2}}</span>
                                        </div>
                                    </td>
                                    <td ng-repeat-end>
                                        <div class="td-input-wrapper text-input">
                                            <input type="text" value=""  data-date="" placeholder=""  ng-model="project.description"/>
                                            <!--<span class="number-format"></span>-->
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                     <td>
                                       <!-- <div class="td-input-wrapper num-input">
                                            <input type="text" placeholder="/" value="" ng-model="sCtrl.rpgSetData.rentCount.affect_count[3].weight">
                                            <span class="number-format">{{sCtrl.rpgSetData.rentCount.affect_count[3].weight*100|number:2}}</span>
                                        </div>-->
                                    </td>
                                    <td ng-repeat-start="project in sCtrl.affect_count[3].projects" >
                                        <div class="td-input-wrapper num-input" >
                                            <input type="number" placeholder="/" value="" ng-model="project.value" ng-disabled="$index==2" ng-change="sCtrl.updateWeight()">
                                            <span class="number-format">{{project.value|number:2}}</span>
                                        </div>
                                    </td>
                                    <td ng-repeat-end>
                                        <div class="td-input-wrapper text-input">
                                            <input type="text" value=""  data-date="" placeholder=""  ng-model="project.description"/>
                                            <!--<span class="number-format"></span>-->
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!--swiper-slide-->
                    </div><!--swiper-wrapper-->
                    <!-- Add Scroll Bar -->
                    <div class="swiper-scrollbar"></div>
                </div><!--swiper container-->

            </div>
        </div>
    </div><!--ys-block-->

    <div class="amp-block">
        <div class="amp-block-title clearfix">
            <h3 class="col-xs-4">首年租金折扣</h3>
        </div>
        <div class="table-input amp-table-wrapper clearfix" id="rent-first-year-set">
            <table class="table table-bordered amp-table" style="width:100%;">
                <tbody>
                <tr>
                    <th style="width:120px;">首年租金折扣</th>
                    <td class="required">
                        <div class="td-input-wrapper num-input">
                            <input type="number" placeholder="/" value="" ng-model="sCtrl.rpgSetData.discount">
                            <span class="number-format">{{sCtrl.rpgSetData.discount*100|number:2}}<i class="unit-addon">%</i></span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div><!--end row-->
    </div><!--end ys-block-->


    <div class="amp-block">
        <div class="amp-block-title clearfix">
            <h3 class="col-xs-4">租金递增率</h3>
        </div>
        <div class="amp-table-wrapper-swiper" id="rent-update-table-wrapper">
            <div class="ys-table-main" style="padding-left:90px;">
                <div class="ys-table-static ys-table-static-left" style="width:90px;">
                    <table class="table table-no-bordered amp-table table-hover" style="width:90px;">
                        <thead>
                        <tr><th class="text-left">开业年份</th></tr>
                        </thead>
                        <tbody>
                        <tr><th class="text-left">主力店</th></tr>
                        <tr><th class="text-left">次主力店</th></tr>
                        <tr><th class="text-left">中小商铺</th></tr>
                        </tbody>
                    </table>
                </div>

                <div class="swiper-container" style="width:100%;" id="rent-update-main-table">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <table class="table table-right-bordered amp-table table-hover"  style="width:650px">
                                <thead>
                                <tr>
                                    <th>2016</th>
                                    <th>2017</th>
                                    <th>2018</th>
                                    <th>2019</th>
                                    <th>2020</th>
                                 

                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td ng-repeat="(year,value) in sCtrl.rpgSetData.rent_increase[0].value">
                                        <div class="td-input-wrapper num-input" >
                                            <input type="number" placeholder="/" value="" ng-model="value">
                                            <span class="number-format">{{value*100|number:2}}<i class="unit-addon">%</i></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-repeat="(year,value) in sCtrl.rpgSetData.rent_increase[1].value">
                                        <div class="td-input-wrapper num-input" >
                                            <input type="number" placeholder="/" value="" ng-model="value">
                                            <span class="number-format">{{value*100|number:2}}<i class="unit-addon">%</i></span>
                                        </div>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td ng-repeat="(year,value) in sCtrl.rpgSetData.rent_increase[2].value">
                                        <div class="td-input-wrapper num-input" >
                                            <input type="number" placeholder="/" value="" ng-model="value">
                                            <span class="number-format">{{value*100|number:2}}<i class="unit-addon">%</i></span>
                                        </div>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div><!--swiper-slide-->
                    </div><!--swiper-wrapper-->
                    <!-- Add Scroll Bar -->
                    <div class="swiper-scrollbar swiper-scrollbar-b"></div>
                </div><!--swiper container-->
            </div>
        </div>

    </div><!--end ys-block-->

    <div class="amp-block"  id="rent-affect-table-wrapper">
        <div class="amp-block-title clearfix">
            <h3 class="col-xs-4">影响系数</h3>
        </div>
        <div class="amp-table-wrapper-swiper" id="rent-affect-area">
            <div class="amp-proportion-select clearfix">
                <h5 class="amp-sub-title">面积分解系数</h5>
                <div class="td-input-wrapper padding-r-15 select-input col-xs-6" >
                    <label>Mall选择:</label>
                    <input type="text" value="" hidden ng-model="sCtrl.shopInfo.mallProportionType"/>
                    <div class="dropdown">
                        <button class="btn" type="button" ui-turn-on="propTypeDropDwon">
                            <em>{{sCtrl.proportionType[sCtrl.shopInfo.mallProportionType] | default:"请选择"}}</em><em class="amp-icon amp-icon-dropdown"></em>
                        </button>
                        <ul class="dropdown-menu" role="menu"
                            ui-shared-state="propTypeDropDwon"
                            ui-outer-click="Ui.turnOff('propTypeDropDwon')"
                            ui-outer-click-if="Ui.active('propTypeDropDwon')"
                            ui-show="propTypeDropDwon"
                            ui-turn-off="propTypeDropDwon">


                            <li ng-class="{'active':sCtrl.isActive(k,sCtrl.shopInfo.mallProportionType)}" role="presentation"
                                ng-repeat="(k,v) in sCtrl.proportionType"><a role="menuitem" ng-click="sCtrl.setModel('mallProportionType',k)">{{v}}</a></li>

                        </ul>
                    </div>
                </div>
                <div class="td-input-wrapper padding-r-15 select-input col-xs-6" >
                    <label>商业街选择:</label>
                    <input type="text" value="" hidden ng-model="sCtrl.shopInfo.streetProportionType"/>
                    <div class="dropdown">
                        <button class="btn" type="button" ui-turn-on="streetProTypeDropDwon">
                            <em>{{sCtrl.proportionType[sCtrl.shopInfo.streetProportionType] | default:"请选择"}}</em><em class="amp-icon amp-icon-dropdown"></em>
                        </button>
                        <ul class="dropdown-menu" role="menu"
                            ui-shared-state="streetProTypeDropDwon"
                            ui-outer-click="Ui.turnOff('streetProTypeDropDwon')"
                            ui-outer-click-if="Ui.active('streetProTypeDropDwon')"
                            ui-show="streetProTypeDropDwon"
                            ui-turn-off="streetProTypeDropDwon">

                        <li ng-class="{'active':sCtrl.isActive(k,sCtrl.shopInfo.streetProportionType)}" role="presentation"
                                    ng-repeat="(k,v) in sCtrl.proportionType"><a role="menuitem" ng-click="sCtrl.setModel('streetProportionType',k)">{{v}}</a></li>
                        </ul>
                     </div>
                </div>
            </div>

            <div class="ys-table-main" style="padding-left:90px;">

                <div class="ys-table-static ys-table-static-left" style="width:90px;">
                    <table class="table table-right-bordered amp-table table-hover" style="width:90px;">
                        <tbody>
                        <tr><th class="text-left">面积范围</th></tr>
                        <tr><th class="text-left">面积系数</th></tr>
                        </tbody>
                    </table>
                </div>

                <div class="swiper-container" style="width:100%;" id="rent-affect-main-table">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <table class="table table-right-bordered amp-table table-hover"  style="width:1100px;">
                                <tbody>
                                <tr>
                                    <td ng-repeat="ratio in sCtrl.rpgSetData.ratios.area">{{ratio.name}}</td>

                                </tr>
                                <tr>
                                    <td ng-repeat="ratio in sCtrl.rpgSetData.ratios.area">
                                        <div class="td-input-wrapper num-input" >
                                            <input type="number" placeholder="/" value="" ng-model="ratio.value">
                                            <span class="number-format">{{ratio.value|number:2}}</span>
                                        </div>
                                    </td>

                                </tr>
                            </table>
                        </div><!--swiper-slide-->
                    </div><!--swiper-wrapper-->
                    <!-- Add Scroll Bar -->
                    <div class="swiper-scrollbar swiper-scrollbar-a"></div>
                </div><!--swiper container-->
            </div>
        </div>

        <div class="clearfix" id="rent-affect-floors">
            <div class="col-xs-12 table-input" style="padding-right:0;padding-left:0;">
                <h5 class="amp-sub-title">楼层系数</h5>
                <table class="table table-hover amp-table">

                    <thead>
                    <tr>
                        <th class="text-left">楼层</th>
                        <th class="text-right">楼层系数</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="ratio in sCtrl.rpgSetData.ratios.floors">
                        <th class="text-left">{{ratio.name}}</th>
                        <td class="text-right">
                            <div class="td-input-wrapper num-input">
                                <input type="number" value=""  data-date="" placeholder="" ng-model="ratio.value"/>
                                <span class="number-format">{{ratio.value|number:2}}</span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div><!--end row-->

            <div class="col-xs-12 table-input" style="padding-right:0;padding-left:0;">
                <h5 class="amp-sub-title">位置系数</h5>
                <table class="table table-hover amp-table">

                    <thead>
                    <tr>
                        <th class="text-left">位置</th>
                        <th class="text-right">位置系数</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="ratio in sCtrl.rpgSetData.ratios.position">
                        <th class="text-left">{{ratio.name}}</th>
                        <td class="text-right">
                            <div class="td-input-wrapper num-input">
                                <input type="number" value=""  data-date="" placeholder="" ng-model="ratio.value"/>
                                <span class="number-format">{{ratio.value|number:2}}</span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div><!--end row-->
        </div>

    </div><!--end ys-block-->

    </form>
</div><!-- contentpanel -->

<div ui-content-for="datatool-footer">
    <div class="amp-block bottom-block clearfix">
        <div class="btn-wrapper">
            <a ng-disabled="rpgSetForm.$invalid" class="btn btn-default amp-btn col-xs-6 pull-right" id="btn-create" ng-click="sCtrl.setSave()" >生成租金包</a>
            <a ng-disabled="rpgSetForm.$invalid" class="btn btn-default amp-btn amp-btn-reverse col-xs-6 pull-left" id="btn-save" ng-click="sCtrl.setData()" >保存</a>
        </div>
    </div>
</div>