<div id="cost-manual-enrolment">


    <div class="table-group-header">
        <div class="table-group-left">
            <table>
                <tbody>
                    <tr><th></th></tr>
                </tbody>
            </table>
        </div><!-- table-group-left -->
        <div class="table-group-right">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide clearfix">
                        <table>
                            <tbody>
                                <tr>
                                    <th>本年实际</th>
                                    <th>本年预算</th>
                                    <th>空缺数</th>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- swiper-slide -->
                </div><!-- swiper-wrapper -->
            </div><!-- swiper-container -->
        </div><!-- table-group-right -->
    </div><!-- table-group-header -->

    <div class="scrollable">
        <div class="scrollable-content section" >

            <div class="table-group-content">
                <div class="table-group-left">
                    <table>
                        <tbody>
                            <tr class="amp-collapse amp-collapsed td-section"><td>实际员工总数</td></tr>
                            <tr class="td-group"><td>管理层-合计</td></tr>
                            <tr><td>总经理</td></tr>
                            <tr><td>行政人事副总</td></tr>
                            <tr><td>招商副总经理</td></tr>
                            <tr><td>营运副总经理</td></tr>
                            <tr><td>工程副总经理</td></tr>
                            <tr class="td-group"><td>行政人事部-合计</td></tr>
                            <tr><td>经理</td></tr>
                            <tr><td>人事</td></tr>
                            <tr><td>行政</td></tr>
                            <tr><td>司机</td></tr>
                            <tr class="td-group"><td>财务部-合计</td></tr>
                            <tr><td>经理</td></tr>
                            <tr><td>商业会计</td></tr>
                            <tr><td>造价</td></tr>
                            <tr><td>出纳</td></tr>
                            <tr><td>收费员</td></tr>
                            <tr class="td-group"><td>企划部-合计</td></tr>
                            <tr><td>企划经理</td></tr>
                            <tr><td>主管</td></tr>
                            <tr><td>专员</td></tr>
                            <tr class="td-group"><td>招商部-合计</td></tr>
                            <tr><td>招商经理</td></tr>
                            <tr><td>招商主管</td></tr>
                            <tr><td>专员</td></tr>
                            <tr class="td-group"><td>营运部-合计</td></tr>
                            <tr><td>营运经理</td></tr>
                            <tr><td>营运</td></tr>
                            <tr><td>客服</td></tr>
                            <tr><td>多经</td></tr>
                            <tr class="td-group"><td>商管部-合计</td></tr>
                            <tr><td>商管经理</td></tr>
                            <tr><td>商管</td></tr>
                            <tr><td>车管</td></tr>
                            <tr><td>消控</td></tr>
                            <tr class="td-group"><td>工程部-合计</td></tr>
                            <tr><td>工程经理</td></tr>
                            <tr><td>强电</td></tr>
                            <tr><td>综合维修</td></tr>
                            <tr><td>暖通</td></tr>
                            <tr class="bottom-record"><td>人均管理面积<em>(㎡/人)</em></td></tr>
                            <tr class="bottom-record"><td>HR费用<em>(元/人/月)</em></td></tr>
                            <tr class="bottom-record"><td>保安人数</td></tr>
                            <tr class="bottom-record"><td>保洁人数</td></tr>
                        </tbody>
                    </table>
                </div><!-- table-group-left -->
                <div class="table-group-right">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide clearfix">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                        <tr class="td-group">
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr class="td-group">
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr class="td-group">
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr class="td-group">
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr class="td-group">
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr class="td-group">
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr class="td-group">
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr class="td-group">
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                            <td>-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- swiper-slide -->
                        </div><!-- swiper-wrapper -->
                    </div><!-- swiper-container -->
                </div><!-- table-group-right -->
            </div><!-- table-group-content -->

        </div><!-- scrollable-content -->
    </div><!-- scrollable -->
</div><!-- simulation-calculation-list-header -->