<div id="cost-manual">


    <div class="table-group-header">
        <div class="table-group-left">
            <table>
                <tbody>
                    <tr><th></th></tr>
                </tbody>
            </table>
        </div><!-- table-group-left -->
        <div class="table-group-right">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide clearfix">
                        <table>
                            <tbody>
                                <tr>
                                    <th>去年实际</th>
                                    <th>本年实际</th>
                                    <th>本年预算</th>
                                    <th>空缺数</th>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- swiper-slide -->
                </div><!-- swiper-wrapper -->
            </div><!-- swiper-container -->
        </div><!-- table-group-right -->
    </div><!-- table-group-header -->

    <div class="scrollable">
        <div class="scrollable-content section" >

            <div class="table-group-content">
                <div class="table-group-left">
                    <table>
                        <tbody>
                            <tr class="amp-collapse amp-collapsed td-section" ng-click="toggleRecord()"><td>实际员工总数</td></tr>

                            <tr ng-class="{'td-group':item.title,'td-section':item.foot,'amp-display-none':item.hide}" ng-repeat="item in result.mgtDept"><td>{{item.deptName+item.positionName}}</td></tr>
                            <tr ng-class="{'td-group':item.title,'td-section':item.foot,'amp-display-none':item.hide}" ng-repeat="item in result.adminDept"><td>{{item.deptName+item.positionName}}</td></tr>
                            <tr ng-class="{'td-group':item.title,'td-section':item.foot,'amp-display-none':item.hide}" ng-repeat="item in result.financeDept"><td>{{item.deptName+item.positionName}}</td></tr>
                            <tr ng-class="{'td-group':item.title,'td-section':item.foot,'amp-display-none':item.hide}" ng-repeat="item in result.planningDept"><td>{{item.deptName+item.positionName}}</td></tr>
                            <tr ng-class="{'td-group':item.title,'td-section':item.foot,'amp-display-none':item.hide}" ng-repeat="item in result.investmentDept"><td>{{item.deptName+item.positionName}}</td></tr>
                            <tr ng-class="{'td-group':item.title,'td-section':item.foot,'amp-display-none':item.hide}" ng-repeat="item in result.serviceDept"><td>{{item.deptName+item.positionName}}</td></tr>
                            <tr ng-class="{'td-group':item.title,'td-section':item.foot,'amp-display-none':item.hide}" ng-repeat="item in result.businessDept"><td>{{item.deptName+item.positionName}}</td></tr>
                            <tr ng-class="{'td-group':item.title,'td-section':item.foot,'amp-display-none':item.hide}" ng-repeat="item in result.engineeringDept"><td>{{item.deptName+item.positionName}}</td></tr>
                            <tr class="bottom-record" ng-class="{'td-group':item.title,'td-section':item.foot}" ng-repeat="item in result.others"><td>{{item.deptName}}<em>{{item.positionName}}</em></td></tr>
                        </tbody>
                    </table>
                </div><!-- table-group-left -->
                <div class="table-group-right">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide clearfix">
                                <table>
                                    <tbody>

                                    <tr class="td-section">
                                        <td>{{result.total.lastReal|numberFormatDefault:"-":0}}</td>
                                        <td>{{result.total.curReal|numberFormatDefault:"-":0}}</td>
                                        <td>{{result.total.curBudget|numberFormatDefault:"-":0}}</td>
                                        <td>{{result.total.emptyNo|numberFormatDefault:"-":0}}</td>
                                    </tr>

                                        <tr ng-class="{'td-group':item.title,'td-section':item.foot,'amp-display-none':item.hide}" ng-repeat="item in result.mgtDept">
                                            <td>{{item.lastReal|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.curReal|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.curBudget|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.emptyNo|numberFormatDefault:"-":0}}</td>
                                        </tr>

                                        <tr ng-class="{'td-group':item.title,'td-section':item.foot,'amp-display-none':item.hide}" ng-repeat="item in result.adminDept">
                                            <td>{{item.lastReal|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.curReal|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.curBudget|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.emptyNo|numberFormatDefault:"-":0}}</td>
                                        </tr>

                                        <tr ng-class="{'td-group':item.title,'td-section':item.foot,'amp-display-none':item.hide}" ng-repeat="item in result.financeDept">
                                            <td>{{item.lastReal|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.curReal|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.curBudget|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.emptyNo|numberFormatDefault:"-":0}}</td>
                                        </tr>

                                        <tr ng-class="{'td-group':item.title,'td-section':item.foot,'amp-display-none':item.hide}" ng-repeat="item in result.planningDept">
                                            <td>{{item.lastReal|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.curReal|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.curBudget|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.emptyNo|numberFormatDefault:"-":0}}</td>
                                        </tr>

                                        <tr ng-class="{'td-group':item.title,'td-section':item.foot,'amp-display-none':item.hide}" ng-repeat="item in result.investmentDept">
                                            <td>{{item.lastReal|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.curReal|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.curBudget|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.emptyNo|numberFormatDefault:"-":0}}</td>
                                        </tr>

                                        <tr ng-class="{'td-group':item.title,'td-section':item.foot,'amp-display-none':item.hide}" ng-repeat="item in result.serviceDept">
                                            <td>{{item.lastReal|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.curReal|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.curBudget|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.emptyNo|numberFormatDefault:"-":0}}</td>
                                        </tr>

                                        <tr ng-class="{'td-group':item.title,'td-section':item.foot,'amp-display-none':item.hide}" ng-repeat="item in result.businessDept">
                                            <td>{{item.lastReal|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.curReal|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.curBudget|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.emptyNo|numberFormatDefault:"-":0}}</td>
                                        </tr>

                                        <tr ng-class="{'td-group':item.title,'td-section':item.foot,'amp-display-none':item.hide}" ng-repeat="item in result.engineeringDept">
                                            <td>{{item.lastReal|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.curReal|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.curBudget|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.emptyNo|numberFormatDefault:"-":0}}</td>
                                        </tr>

                                        <tr ng-class="{'td-group':item.title,'td-section':item.foot}" ng-repeat="item in result.others">
                                            <td>{{item.lastReal|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.curReal|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.curBudget|numberFormatDefault:"-":0}}</td>
                                            <td>{{item.emptyNo|numberFormatDefault:"-":0}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- swiper-slide -->
                        </div><!-- swiper-wrapper -->
                    </div><!-- swiper-container -->
                </div><!-- table-group-right -->
            </div><!-- table-group-content -->

        </div><!-- scrollable-content -->
    </div><!-- scrollable -->

    <a class="enrolment-btn" href="#/cost_manual_enrolment">录入</a>

</div><!-- simulation-calculation-list-header -->