<div id="cost-enrolment">

    <div class="scrollable">
        <div class="scrollable-content section" >
            <div class="amp-input-group-list">

                <ul class="amp-input-group clearfix">
                    <li class="more-info first-item"><div><em>月份</em><input type="text" value=""/></div></li>
                    <li><div><em>营销</em><input type="text" /></div></li>
                </ul>

                <ul class="amp-input-group clearfix">
                    <li class="first-item"><div><em>人工</em><input type="text" value=""/></div></li>
                    <li><div><em>管理费</em><input type="text" value=""/></div></li>
                </ul>
                <ul class="amp-input-group clearfix">
                    <li class="first-item"><div><em>工程</em><input type="text" value=""/></div></li>
                    <li><div></div></li>
                </ul>

            </div><!-- amp-input-group-list -->


        </div><!-- scrollable-content -->
    </div><!-- scrollable -->

    <div ui-content-for="amp-right-panel">
        <div class="cost-enrolment-floor-panel">

            <div class="query-section floor-section">
                <div class="query-section-title">楼层</div>
                <div class="query-section-content">
                    <ul class="clearfix">
                        <li><a>B2</a></li>
                        <li><a class="active">B1</a></li>
                        <li><a>1F</a></li>
                        <li><a class="active">2F</a></li>
                        <li><a>3F</a></li>
                        <li><a>4F</a></li>
                        <li><a>5F</a></li>
                        <li><a>6F</a></li>
                    </ul>
                </div><!-- query-section-content -->
            </div><!-- query-section -->

            <div class="btn-group clearfix">
                <a class="ok-btn" href="javascript:void(0)" ui-turn-off="uiSidebarRight">确定</a>
            </div>
        </div><!-- query-panel -->
    </div><!-- amp-right-panel -->

</div><!-- simulation-calculation-list-header -->