<div id="cost-main">
    <ul class="page-navigation-bar clearfix">
        <li><a class="active" href="javascript:void(0)">成本</a></li>
    </ul>

    <div class="grey-bar"></div>


    <div class="scrollable">
        <div class="scrollable-content section" >

            <div class="cost-bar-chart">
                <div class="chart-content"></div>
                <div class="chart-legend">
                    <ul class="clearfix">
                        <li>工程(改造、装修、保养)</li>
                        <li>人工(含劳务费)</li>
                        <li>管理(采购、外包等小项目)</li>
                        <li>营销(企划、招商、推广)</li>
                    </ul>
                </div><!-- chart-legend -->
            </div><!-- cost-bar-chart -->

            <div class="table-group">
                <div class="table-left">
                    <table>
                        <tr><th>月份</th></tr>
                        <tr><td>8月</td></tr>
                        <tr><td>9月</td></tr>
                        <tr><td>10月</td></tr>
                    </table>
                </div><!-- table-left -->
                <div class="table-right">
                    <table>
                        <thead>
                            <tr>
                                <th>营销</th>
                                <th>人工</th>
                                <th>管理费</th>
                                <th>工程</th>
                                <th>合计</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><div>44.18/19.2</div><em>230%</em></td>
                                <td><div>44.18/19.2</div><em>230%</em></td>
                                <td><div>44.18/19.2</div><em>230%</em></td>
                                <td><div>44.18/19.2</div><em>230%</em></td>
                                <td><div>44.18/19.2</div><em>230%</em></td>
                            </tr>
                            <tr>
                                <td><div>44.18/19.2</div><em>230%</em></td>
                                <td><div>44.18/19.2</div><em>230%</em></td>
                                <td><div>44.18/19.2</div><em>230%</em></td>
                                <td><div>44.18/19.2</div><em>230%</em></td>
                                <td><div>44.18/19.2</div><em>230%</em></td>
                            </tr>
                            <tr>
                                <td><div>44.18/19.2</div><em>230%</em></td>
                                <td><div>44.18/19.2</div><em>230%</em></td>
                                <td><div>44.18/19.2</div><em>230%</em></td>
                                <td><div>44.18/19.2</div><em>230%</em></td>
                                <td><div>44.18/19.2</div><em>230%</em></td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- table-right -->
            </div><!-- table-group -->



        </div><!-- scrollable-content -->
    </div><!-- scrollable -->

</div><!-- contract-main -->

