<div id="cost-main">
    <ul class="page-navigation-bar clearfix">
        <li><a class="active" href="javascript:void(0)">成本</a></li>
    </ul>

    <div class="grey-bar"></div>


    <div class="scrollable">
        <div class="scrollable-content section" >

            <div class="cost-bar-chart">
                <div class="chart-content"></div>
                <div class="chart-legend">
                    <ul class="clearfix">
                        <li>工程(改造、装修、保养)</li>
                        <li>人工(含劳务费)</li>
                        <li>管理(采购、外包等小项目)</li>
                        <li>营销(企划、招商、推广)</li>
                    </ul>
                </div><!-- chart-legend -->
            </div><!-- cost-bar-chart -->

            <div class="table-group">
                <div class="table-left">
                    <table>
                        <tr><th>月份</th></tr>
                        <tr ng-repeat="item in records"><td>{{item.month}}月</td></tr>
                    </table>
                </div><!-- table-left -->
                <div class="table-right">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>营销</th>
                                        <th>人工</th>
                                        <th>管理费</th>
                                        <th>工程</th>
                                        <th>合计</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in records" ng-click="goToManualPage()">
                                            <td>
                                                <div>{{item.businessReal}}/{{item.businessBudget}}</div>
                                                <em>{{item.businessPercent}}</em>
                                            </td>
                                            <td>
                                                <div>{{item.manualWorkReal}}/{{item.manualWorkBudget}}</div>
                                                <em>{{item.manualWorkPercent}}</em>
                                            </td>
                                            <td>
                                                <div>{{item.mgtFeeReal}}/{{item.mgtFeeBudget}}</div>
                                                <em>{{item.mgtFeePercent}}</em>
                                            </td>
                                            <td>
                                                <div>{{item.projectReal}}/{{item.projectBudget}}</div>
                                                <em>{{item.projectPercent}}</em>
                                            </td>
                                            <td>
                                                <div>{{item.totalReal}}/{{item.totalBudget}}</div>
                                                <em>{{item.totalPercent}}</em>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- swiper-slide -->
                        </div><!-- swiper-wrapper -->
                    </div><!-- swiper-container -->
                </div><!-- table-right -->
            </div><!-- table-group -->



        </div><!-- scrollable-content -->
    </div><!-- scrollable -->


    <div ui-content-for="amp-right-panel">
        <div class="cost-query-panel">
            <div class="query-section date-selector-section">
                <div class="query-section-title">年份</div>
                <div class="query-section-content">
                    <div class="amp-date-input ">
                        <input type="text" readonly value="2016"/>
                    </div><!-- amp-date-input -->
                </div><!-- query-section-content -->
            </div><!--query-section -->

            <div class="btn-group clearfix">
                <a class="reset-btn" href="javascript:void(0)">重置</a>
                <a class="query-btn" href="javascript:void(0)" ui-turn-off="uiSidebarRight">查询</a>
            </div>
        </div><!-- query-panel -->
    </div><!-- amp-right-panel -->

    <div ui-content-for="mgt-analysis-menu-list-wrapper">
        <ul class="menu-item-list">
            <li><a class="enrolment-btn" ng-click="goToEnrolmentPage()">录入</a></li>
            <li><a class="filter-btn"  ui-toggle="uiSidebarRight" ng-click="closeMenuList()">筛选</a></li>
        </ul>
    </div>

</div><!-- contract-main -->

