#business-main{position:relative;}

#business-main .grey-bar{
    height:10px;
    background-color:#f2f5f7;
}

#business-main  .swiper-slide{width:auto;min-width: 100%;}

/* ======================================== income-analysis-nav-bar ======================================== */
#business-main .income-analysis-nav-bar{padding:0 50px;border-bottom:1px solid #dae2e7;}
#business-main .income-analysis-nav-bar li{
    width:50%;
    float: left;
}
#business-main .income-analysis-nav-bar li a{
    display:block;
    width:50px;
    height:40px;
    line-height:38px;
    text-align: center;
    color:#737f8c;
    font-size:12px;
    border-bottom:2px solid transparent;
    margin:auto;
}
#business-main .income-analysis-nav-bar li a.active{
    color:#5ab46d;
    border-bottom:2px solid #5ab46d;
}
#business-main .grey-bar{
    height:10px;
    background-color:#f2f5f7;
}

#business-main .scrollable{top:51px;}
#business-main .scrollable-content{padding:0;}


/* ======================================== section-title ======================================== */
#business-main .section-title{
    height:45px;
    line-height: 44px;

    padding-left:15px;
    font-size:16px;
    border-bottom:1px solid #dae2e7;
    border-left:4px solid #5ab46d;
}
/* ======================================== business-bar-chart ======================================== */
#business-main .business-bar-chart{
    position:relative;
    padding:20px 50px 20px 15px;
}

#business-main .business-bar-chart:before{
    content:"(万元)";
    position:absolute;
    top:10px;
    left:10px;
    font-size:12px;
    color:#8592a3;
}

#business-main .business-bar-chart:after{
    content:"(按业态)";
    position:absolute;
    bottom:18px;
    right:15px;
    font-size:12px;
    color:#8592a3;
}

#business-main .business-bar-chart .business-bar-chart-content{
    width:100%;
    height:180px;
}

/* ======================================== business-info-item-list ======================================== */
#business-main .business-info-item-list{border-bottom:10px solid #f2f5f7;}
#business-main .business-info-item-list li{
    width:33.333333333%;
    height:60px;
    border-right:1px solid #dae2e7;
    margin-bottom:18px;
    float:left;
    padding-left:20px;
}

#business-main .business-info-item-list li:nth-child(3){border-right:none;}

#business-main .business-info-item-list li .item-label{
    height:18px;
    line-height: 18px;
    font-size:12px;
    color:#8592a3;
}

#business-main .business-info-item-list li .item-value{
    height:24px;
    line-height: 24px;
    font-size:18px;
    color:#5ab46d;
}

#business-main .business-info-item-list li .item-percent{
    height:18px;
    line-height: 18px;
    font-size:12px;
    color:#333;
}

/* ======================================== btn-group ======================================== */
#business-main .btn-group{
    width:100%;
    border-bottom:1px solid #dae2e7;
}
#business-main .btn-group li{
    width:50%;
    float:left;

}
#business-main .btn-group li a{
    display:block;
    width:106px;
    height:40px;
    line-height: 38px;
    border-bottom:2px solid transparent;
    text-align: center;
    margin:auto;
    color:#8592a3;
    font-size:12px;
}
#business-main .btn-group li a.active{
    color: #5ab46d;
    border-bottom: 2px solid #5ab46d;
}

/* ======================================== business-table ======================================== */
#business-main table{width:100%;}
#business-main table th{
    height:41px;
    line-height: 40px;
    border-bottom:1px solid #dae2e7;
    background-color:#f2f5f7;
    text-align: right;
    color:#8592a3;
    font-size:12px;
    font-weight: normal;
    padding-right:20px;
}

#business-main table td{
    height:44px;
    line-height: 44px;
    font-size:12px;
    font-weight: normal;
    padding-right:20px;
    text-align: right;
}


#business-main table th:first-child,
#business-main table td:first-child{
    border-right:1px solid #dae2e7;
    text-align: left;
    padding-left:10px;
    padding-right:0;
}

#business-main table tr.record-group td{
    font-weight: bold;
}

#business-main table tr.record-group td:first-child:after{
    content:"";
    display:inline-block;
    width:18px;
    height:18px;
    background:url(../../../../images/icon_chevron_down@2x.png) no-repeat center center;
    background-size:contain;
    margin-left: 8px;
    vertical-align: -5px;
}

#business-main table tr.record-group.collapsed td:first-child:after{
    background-image:url(../../../../images/icon_chevron_up@2x.png);
}

#business-main table tr.record-group-sub td{
    padding-left:20px;
}

#business-main table tr:last-child td{
    font-weight: bold;
    font-style: italic;
    color:#57bbe7;
}

#business-main table tr:last-child td:first-child{
    color:#333;
}


/* ======================================== deduct-rent-store-rate-chart ======================================== */
#business-main .deduct-rent-store-rate-chart .chart-content-wrapper{padding:0 15px 10px 15px;}
#business-main .deduct-rent-store-rate-chart .chart-content{
    width:100%;
    min-width:600px ;
    height:250px;
}

#business-main .deduct-rent-store-rate-chart .amp-chart-legend{
    width:240px;
    padding-bottom:10px;
    margin:auto;
}
#business-main .deduct-rent-store-rate-chart .amp-chart-legend li{
    position:relative;
    height:28px;
    line-height: 28px;
    font-size:12px;
    color: #8592a3;
    float:left;
    padding-left:15px;
}
#business-main .deduct-rent-store-rate-chart .amp-chart-legend li:last-child{float:right;}
#business-main .deduct-rent-store-rate-chart .amp-chart-legend li:before{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:8px;
    height:8px;
    margin:auto;
}
#business-main .deduct-rent-store-rate-chart .amp-chart-legend li:nth-child(1):before{background-color:#627d9b;}
#business-main .deduct-rent-store-rate-chart .amp-chart-legend li:nth-child(2):before{background-color:#00b1f0;}




/* ======================================== table-group ======================================== */
#business-main .table-group{position:relative;padding-left:99px;}
#business-main .table-group table{width:100%;}
#business-main .table-group .table-left{position:absolute;left:0;top:0;width:99px;z-index: 9;}
#business-main .table-group .table-right{width:100%;overflow: auto;}

#business-main .table-group th{
    height:41px;
    border-bottom:1px solid #dae2e7;
    background-color:#f2f5f7;
    font-size:12px;
    color:#8592a3;
    text-align: right;
    padding:0 15px;
    white-space: nowrap;
}

#business-main .table-group td{
    height:50px;
    text-align: right;
    padding:0 15px!important;
    font-size:12px;
    white-space: nowrap;
    background-color:#fff;
}

#business-main .table-group .table-left table tr.collapsed-record td:first-child:after{
    content:"";
    display:inline-block;
    width:18px;
    height:18px;
    background:url(../../../../images/icon_chevron_down@2x.png) no-repeat center center;
    background-size:contain;
    margin-left: 8px;
    vertical-align: -5px;
}

#business-main .table-group .table-left table tr.collapsed-record.collapsed td:first-child:after{
    background-image:url(../../../../images/icon_chevron_up@2x.png);
}



#business-main .table-group .table-left table{width:100%;}
#business-main .table-group .table-left th,
#business-main .table-group .table-left td{
    text-align: left;
    padding:0 0 0 15px;
    border-right:1px solid #dae2e7;
}

#business-main .table-group .table-left table tr.record-group-sub td{
    padding-left:20px;
}


#business-main .table-group tr:last-child td{font-weight: normal;font-style: normal;color:#333;}
#business-main .table-group .table-right tr th,
#business-main .table-group .table-right tr td{border-right:none;text-align: right;padding:0 15px;}

#business-main .table-group.deduct-rent-store-rate-table .table-right tr th:nth-child(2),
#business-main .table-group.deduct-rent-store-rate-table .table-right tr td:nth-child(2){border-right:1px solid #dae2e7;}


/* ======================================== business-query-panel ======================================== */
.amp-right-panel .business-query-panel{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

.amp-right-panel .business-query-panel .btn-group{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    height:48px;
}

.amp-right-panel .business-query-panel .btn-group>a{
    display:block;
    width:50%;
    height:48px;
    line-height: 48px;
    float:left;
    text-align: center;
}

.amp-right-panel .business-query-panel .btn-group>a.reset-btn{
    background-color:#f2f5f7;
    color:#333;
}

.amp-right-panel .business-query-panel .btn-group>a.query-btn{
    background-color:#5ab46d;
    color:#fff;
}

.amp-right-panel .business-query-panel .query-section{
    padding:25px 5px 0 15px;
}

.amp-right-panel .business-query-panel .query-section .query-section-title{
    height:24px;
    line-height: 24px;
    font-size:14px;
}

.amp-right-panel .business-query-panel .query-section .query-section-content{
    padding-top:0;
}
.amp-right-panel .business-query-panel .query-section .query-section-content>ul>li{

    float:left;
    padding-top:10px;
    padding-right:10px;
}

.amp-right-panel .business-query-panel .query-section .query-section-content>ul>li>a{
    display:block;
    width:100%;
    height:32px;
    line-height: 32px;
    border-radius: 4px;
    color:#333;
    background-color:#f2f5f7;
    text-align: center;
}
.amp-right-panel .business-query-panel .query-section  .query-section-content>ul>li>a.active{
    color:#fff;
    background-color:#5ab46d;
}

/*business-type-section*/
.amp-right-panel .business-query-panel .query-section.business-type-section li{
    width:50%;
}



/*commercial-type-section*/
.amp-right-panel .business-query-panel .query-section.commercial-type-section li{
    width:33.3333%;
}

/*commercial-type-section*/
.amp-right-panel .business-query-panel .query-section.income-type-section li{
    width:33.3333%;
}
