#cost-manual{position:relative;}
#cost-manual .scrollable{top:46px;bottom:48px;height:auto;}
#cost-manual .scrollable-content{
    padding:0;
}
#cost-manual table{width:100%;}
#cost-manual .swiper-slide{width:auto;min-width:100%;}
/* ======================================== table-group-header ======================================== */
#cost-manual .table-group-header{position:relative;padding-left:145px;}
#cost-manual .table-group-header .table-group-left{position:absolute;top:0;left:0;width:145px;}

#cost-manual .table-group-header th{
    height:45px;
    border-bottom:1px solid #dae2e7;
    background-color:#f2f5f7;
    font-size:12px;
    text-align: right;
    color:#8592a3;
}

#cost-manual .table-group-header .table-group-left th{padding-left:15px;text-align: left;border-right:1px solid #dae2e7;}
#cost-manual .table-group-header .table-group-right th{min-width:100px;padding-right:15px;}

/* ======================================== table-group-content ======================================== */
#cost-manual .table-group-content{position:relative;padding-left:145px;}
#cost-manual .table-group-content .table-group-left{position:absolute;top:0;left:0;width:145px;padding-left:15px;}

#cost-manual .table-group-content td{
    height:44px;
    font-size:12px;
    text-align: right;
}

#cost-manual .table-group-content .table-group-left td{text-align: left;border-right:1px solid #dae2e7;padding-left:15px;}
#cost-manual .table-group-content .table-group-left tr.td-group td{padding-left:0;font-weight: bold;}
#cost-manual .table-group-content .table-group-left tr:first-child td{padding-left:0;}
#cost-manual .table-group-content .table-group-left tr.bottom-record td{padding-left:0;}
#cost-manual .table-group-content .table-group-left tr.bottom-record td em{display:block;color:#8592a3;}


#cost-manual .table-group-content .table-group-right td{min-width:100px;padding-right:15px;}
#cost-manual .table-group-content .table-group-right tr.td-group td{font-weight: bold;}


/*td-section*/
#cost-manual .table-group-content tr.td-section td{
    height:45px;
    border-bottom:1px solid #dae2e7;;
}
/*amp-collapse*/
#cost-manual .table-group-content tr.amp-collapse td{position:relative;}
#cost-manual .table-group-content tr.amp-collapse td:after{
    content:"";
    display:inline-block;
    width:18px;
    height:18px;
    background:url(../../../../images/icon_chevron_down@2x.png) no-repeat;
    background-size:contain;
    vertical-align: middle;
    margin-left:6px;
}

#cost-manual .table-group-content tr.amp-collapse.amp-collapsed td:after{
    background-image:url(../../../../images/icon_chevron_up@2x.png);
}


#cost-manual a.enrolment-btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #5ab46d;
}