
#simulation-calculation{position:relative;}

#simulation-calculation .grey-bar{height:10px;background-color:#eceef3;}

#simulation-calculation .scrollable-content{padding:0;}

/* ---------------------------------------- amp-case-title ---------------------------------------- */
#simulation-calculation .section-title{
    position:relative;

    border-left:4px solid #5ab46d;
    padding-left:11px;
}
#simulation-calculation .section-title>div{
    position:relative;
    height:49px;
    line-height: 48px;
    font-size:14px;
    border-bottom:1px solid #e6e6e6;
}

#simulation-calculation .section-title.income-expenses-simulation-btn>div:after{
    content:"";
    position:absolute;
    right:15px;
    top:0;
    bottom:0;
    width:7px;
    height:12px;
    margin:auto;
    background:url(../../../images/icon_arrow_right@2x.png) no-repeat;
    background-size:contain;
}
#simulation-calculation .section-title em{
    font-size:12px;
    color:#8592a3;
}

#simulation-calculation .section-title.amp-collapse>div a{
    position:absolute;
    right:0;
    bottom:0;
    top:0;
    width:52px;
    height:100%;
    background:url(../../../images/icon_chevron_down_active@2x.png) no-repeat center center;
    background-size:22px 22px;
}

#simulation-calculation .section-title.amp-collapsed>div a{
    background-image:url(../../../images/icon_chevron_up_active@2x.png);
}

/* ======================================== table-group ======================================== */
#simulation-calculation .table-group .swiper-slide{width:auto;min-width: 100%;}
#simulation-calculation .table-group table{width:100%;}
#simulation-calculation .table-group{position:relative;padding-left:145px;}
#simulation-calculation .table-group .table-group-left{position:absolute;top:0;left:0;width:145px;padding-left:15px;}

#simulation-calculation .table-group td{
    height:45px;
    border-bottom:1px solid #dae2e7;
    font-size:12px;
    text-align: right;
}

#simulation-calculation .table-group tr:last-child td{border-bottom:none;}

#simulation-calculation .table-group .table-group-left td{text-align: left;}
#simulation-calculation .table-group .table-group-right td{min-width:100px;padding-right:15px;}
#simulation-calculation .table-group tr:first-child td{color:#8592a3;}

/* ======================================== test-index-container ======================================== */
#simulation-calculation .table-group.test-index-container {position:relative;padding-left:80px;}
#simulation-calculation .table-group.test-index-container  .table-group-left{width:80px;}

/* ======================================== income-expenses-simulation ======================================== */
#simulation-calculation .table-group.income-expenses-simulation {position:relative;padding-left:80px;}
#simulation-calculation .table-group.income-expenses-simulation  .table-group-left{width:80px;}
#simulation-calculation .table-group.income-expenses-simulation td{height:70px;}
#simulation-calculation .table-group.income-expenses-simulation td div{color:#333;font-size:14px;}

/* ======================================== parameter-btn ======================================== */
#simulation-calculation .parameter-btn{height:60px;background-color:#fff;padding-top:15px;}

#simulation-calculation .parameter-btn a {
    display: block;
    width:250px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    color:#5ab46d;
    border:1px solid #5ab46d;
    border-radius: 4px;
    margin:auto;
}

/* ======================================== loan-repayment-analysis ======================================== */
#simulation-calculation .table-group.loan-repayment-analysis {position:relative;padding-left:80px;}
#simulation-calculation .table-group.loan-repayment-analysis  .table-group-left{width:80px;}

/* ======================================== sale-income-analysis ======================================== */
#simulation-calculation .table-group.sale-income-analysis{position:relative;padding-left:80px;}
#simulation-calculation .table-group.sale-income-analysis .table-group-left{width:80px;}

#simulation-calculation .table-group.sale-income-analysis  li{
    height:45px;
    line-height: 44px;
    padding:0;
    text-align: right;
    font-size:12px;
    border-bottom:1px solid #dae2e7;
}
#simulation-calculation .table-group.sale-income-analysis  li:last-child{height:44px;border-bottom:none;font-weight: bold;font-style: italic;}

#simulation-calculation .table-group.sale-income-analysis .table-group-left li span{color:#8592a3;}
/*table-group-right*/

#simulation-calculation .table-group.sale-income-analysis .table-group-right{
    position:relative;
    z-index: 999;
}
#simulation-calculation .table-group.sale-income-analysis .table-group-right ul{width:100px;float:left;}
#simulation-calculation .table-group.sale-income-analysis .table-group-right li{
    color:#8592a3;
    padding-right:15px;
}

/* ======================================== pre-tax-cash-flow ======================================== */
#simulation-calculation .table-group.pre-tax-cash-flow{position:relative;padding-left:80px;}
#simulation-calculation .table-group.pre-tax-cash-flow .table-group-left{width:80px;}

#simulation-calculation .table-group.pre-tax-cash-flow  li{
    height:45px;
    line-height: 44px;
    padding:0;
    text-align: right;
    font-size:12px;
    border-bottom:1px solid #dae2e7;
}
#simulation-calculation .table-group.pre-tax-cash-flow  li:last-child{height:44px;border-bottom:none;font-weight: bold;font-style: italic;}

#simulation-calculation .table-group.pre-tax-cash-flow .table-group-left li span{color:#8592a3;}
/*table-group-right*/

#simulation-calculation .table-group.pre-tax-cash-flow .table-group-right{
    position:relative;
    z-index: 999;
}
#simulation-calculation .table-group.pre-tax-cash-flow .table-group-right ul{width:100px;float:left;}
#simulation-calculation .table-group.pre-tax-cash-flow .table-group-right li{
    color:#8592a3;
    padding-right:15px;
}

/* ======================================== initial-analysis ======================================== */
#simulation-calculation .initial-analysis{padding:0 15px 15px 15px;}
#simulation-calculation .initial-analysis .amp-form-group{
    position:relative;
    height:34px;
    line-height: 34px;
    margin-top:15px;
    padding-left:135px;
}
#simulation-calculation .initial-analysis .amp-form-group .amp-form-label{
    position:absolute;
    top:0;
    left:0;
    font-size:14px;
    font-weight: normal;
}

#simulation-calculation .initial-analysis .amp-form-group .amp-form-content>input{
    display:block;
    width:100%;
    height:34px;
    border:1px solid #d9dedf;
    background-color:#f2f5f7;
    padding:0 10px;
    text-align: right;
    border-radius: 0;
}

#simulation-calculation .amp-input input{text-align:right;}

#simulation-calculation .initial-analysis .amp-form-group .amp-form-content .input-wrapper{
    position:relative;
    height:34px;
    font-size:12px;
}
#simulation-calculation .initial-analysis .amp-form-group .amp-form-content .input-wrapper span{
    position:absolute;
    left:0;
    top:0;
}


#simulation-calculation .initial-analysis .amp-form-group .amp-form-content .input-wrapper em{
    position:absolute;
    right:0;
    top:0;
}

#simulation-calculation .initial-analysis .amp-form-group .amp-form-content .input-wrapper-1{
    padding:0 18px 0 54px;
}

#simulation-calculation .initial-analysis .amp-form-group .amp-form-content .input-wrapper-2{
    padding:0 18px 0 28px;
}


/* ======================================== simulation-calculation-parameter-dialog ======================================== */
#simulation-calculation-parameter-dialog{
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color:rgba(0,0,0,0.4);
    z-index:999;
    overflow: hidden;
    font-size:12px;
}

#simulation-calculation-parameter-dialog .amp-input input{text-align: right;}

#simulation-calculation-parameter-dialog .simulation-calculation-parameter-dialog-content{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    padding-bottom:48px;
    background-color:#fff;
}

/*dialog-title*/
#simulation-calculation-parameter-dialog .dialog-title{
    height:49px;
    line-height: 48px;
    margin-left:15px;
    font-size:16px;
    border-bottom:1px solid #e6e6e6;
}
#simulation-calculation-parameter-dialog .dialog-title em{font-size:12px;color:#8592a3;}

/*save-btn*/
#simulation-calculation-parameter-dialog .save-btn{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #5ab46d;
}

/*close-btn*/
#simulation-calculation-parameter-dialog .close-btn{
    position: absolute;
    top: -70px;
    right: 0;
    display: block;
    width:70px;
    height: 70px;
    background:url(../../../images/icon_close@2x.png) no-repeat center center;
    background-size:40px 40px;
}


/*dialog-body*/
#simulation-calculation-parameter-dialog .dialog-body{padding:0 5px 5px 15px;}
#simulation-calculation-parameter-dialog .dialog-body .amp-form-group{
    position:relative;
    min-height:34px;
    /*max-height:245px;*/
    line-height: 34px;
    margin-top:15px;
    padding-left:120px;
}


#simulation-calculation-parameter-dialog .dialog-body .amp-form-group .amp-form-label{
    position:absolute;
    top:0;
    left:0;
    font-size:14px;
    font-weight: normal;
    margin:0;
}
#simulation-calculation-parameter-dialog .dialog-body .amp-form-group .amp-form-content{
    position:relative;
    min-height: 34px;
    padding-right:15px;
}
#simulation-calculation-parameter-dialog .dialog-body .amp-form-group .amp-form-content:after{
    content:"%";
    position:absolute;
    right:0;
    top:0;
    bottom:0;
}
#simulation-calculation-parameter-dialog .dialog-body .amp-form-group .amp-form-content>input{
    display:block;
    width:100%;
    height:34px;
    border:1px solid #d9dedf;
    background-color:#f2f5f7;
    padding:0 10px;
    text-align: right;
    border-radius: 0;
}

/*sale-form-content*/
#simulation-calculation-parameter-dialog .dialog-body .amp-form-group .amp-form-content.sale-form-content .sale-input{
    width:40%;
    float:left;
}

#simulation-calculation-parameter-dialog .dialog-body .amp-form-group .amp-form-content.sale-form-content .sale-cost-input-wrapper{
    position:relative;
    width:60%;
    float:right;
    padding-left:55px;
}
#simulation-calculation-parameter-dialog .dialog-body .amp-form-group .amp-form-content.sale-form-content .sale-cost-input-wrapper em{
    position:absolute;
    left:4px;
    top:0;
}
#simulation-calculation-parameter-dialog .dialog-body .amp-form-group .output-rate-content-wrapper{
    max-height: 147px;
    overflow-y:auto;
    -webkit-overflow-scrolling:touch;
}
#simulation-calculation-parameter-dialog .dialog-body .amp-form-group .amp-form-content.output-rate-content{
    position:relative;
    padding-left:90px;
    padding-bottom:10px;
}
#simulation-calculation-parameter-dialog .dialog-body .amp-form-group .amp-form-content.output-rate-content em{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:90px;
    text-align: right;
    padding-right:10px;
}