#simulation-calculation-list-header{
    position:relative;
    height:44px;
    line-height: 44px;
    text-align: center;
    color:#fff;
    font-size:18px;
}
#simulation-calculation-list-header>a{
    position:absolute;
    top:0;
    bottom:0;
    height:100%;
}
#simulation-calculation-list-header>a.amp-nav-back{
    left:0;
    width:52px;
    background:url(../../../images/icon_nav_back@2x.png) no-repeat center center;
    background-size:22px 22px;
}

#simulation-calculation-list-header>a.amp-project-btn{
    left:0;
    width:52px;
    background:url(../../../images/icon_projects@2x.png) no-repeat center center;
    background-size:22px 22px;
}

#simulation-calculation-list-header>a.amp-menu{
    right:0;
    width:52px;
    background:url(../../../images/icon_doc_create@2x.png) no-repeat center center;
    background-size:22px 26px;
}